<script src="/app/views/partners-and-initiatives/partners-and-initiatives.html.js"></script>
<div class="row hidden-xs">
	<ol class="breadcrumb">
	  <li><a href="/">Home</a></li>
	  <li><a href="/partners-and-initiatives">Partners & Initiatives</a></li>
	  <li><a href="/partners-and-initiatives/global-partnership">Global Partnership</a></li>
	  <li class="active">Advisory Committee on Cities & Biodiversity</li>
	</ol>
</div>	

<div class="row" ng-controller="PartnersAndInitiativesPageController">
	<div class="col-sm-9">
		<h2>Advisory Committee on Cities and Biodiversity</h2>
		
		<h4>City of Curitiba, Brazil</h4>
		
		<h4>City of&nbsp;<a href="http://ville.montreal.qc.ca/">Montreal</a>, Canada</h4>
		<a href="http://ville.montreal.qc.ca/portal/page?_pageid=5197,18357688&amp;_dad=portal&amp;_schema=PORTAL">L&#39;environnement à Montréal</a>&nbsp;
		<a href="http://ville.montreal.qc.ca/portal/page?_pageid=5197,18357688&amp;_dad=portal&amp;_schema=PORTAL">Le développement durable à Montréal</a>&nbsp;<a href="http://ville.montreal.qc.ca/portal/page?_pageid=5197,18363610&amp;_dad=portal&amp;_schema=PORTAL">Déclaration des municipalités riveraines au fleuve Saint-Laurent, situées dans la zone d&#39;influence des Grands Lacs</a>
	
		<h4>City of&nbsp;<a href="http://www.bonn.de/">Bonn</a>, Germany</h4>
		<a href="http://www.cbd.int/doc/groups/cities/cities-2007-bonn-en.pdf">Diversity for biodiversity: In the Run-up to COP9 / MOP4 by Bärbel Dieckmann, Lady Mayor of Bonn</a>

		<h4>City of Nagoya, Japan</h4>
		<a href="http://www.cbd.int/doc/groups/cities/cities-2007-nagoya-en.pdf">Cities and Biodiversity by Takehisa Matsubara, Former mayor of Nagoya</a>

		<h4>City of&nbsp;<a href="http://www.df.gob.mx/index.jsp">Mexico</a></h4>
	
		<h4>City of&nbsp;<a href="http://www.montpellier.fr/">Montpellier</a></h4>
	</div>
	<div class="col-sm-3">
		<div class="eventsLists"></div>
	</div>
</div>