<script src="/app/views/partners-and-initiatives/partners-and-initiatives.html.js"></script>
<div class="row hidden-xs">
    <div class="col-lg-12">      
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/partners-and-initiatives">Partners & Initiatives</a></li>
            <li class="active">MediverCities</li>
        </ol>
    </div>
</div>  

<div class="row" ng-controller="PartnersAndInitiativesPageController">
  <div class="col-sm-9">
    <h1>MediverCities</h1>
    <h2>
        MediverCities - What is it ?
    </h2>
    <div style="text-align: justify;">
        MediverCities is an open network for Mediterranean national and subnational governments, local authorities, cities and their partners (academia or scientific institutions) dedicated to the implementation of the Convention on Biological Diversity and related multilateral regional agreements. It is an initiative by the Mayor of <a href="http://www.montpellier.fr/">Montpellier</a> and <a href="http://www.iclei.org/">ICLEI - Local Governments for Sustainability</a> with the support of the Secretariat of the Convention on Biological Diversity and the financial support of the Japan Biodiversity Fund.<br />
        Designed after a series of workshops and consultative meetings, the network aims at facilitating the local implementation of the National Biodiversity Strategies and Action Plans of all Mediterranean Parties to the CBD (22 countries), as well as other international or regional agreements related to the conservation and the sustainable use of biodiversity and to the fair and equitable sharing of the benefits of its utilization. For instance, MediverCities is planned to collaborate with the Mediterranean Action Plan in order to facilitate the implementation of the Barcelona Convention on the Protection of the Mediterranean Sea against Pollution.<br />
        <br />
        To find more information on the suggested activities of the network, you can have a look at the description of <a href="http://www.cbd.int/authorities/doc/medivercities/medivercities-presentation-en.pdf">MediverCities activities</a>, the <a href="http://www.cbd.int/authorities/doc/medivercities/draft-declaration-en.pdf">Draft of the Declaration</a> to be sign by the participants of the Sarajevo meeting and all future members of the network, and the <a href="http://www.cbd.int/authorities/doc/medivercities/draft-charter-en.pdf">Draft of the Charter</a> of MediverCities, also to be signed during the meeting.<br />
    </div>
    <h2>
        The mandate
    </h2>
    <div style="text-align: justify;">
        The tenth meeting of the Conference of the Parties to the Convention on Biological Diversity, through <a href="http://www.cbd.int/decision/cop/?id=12288">Decision X/22</a>, endorsed the Plan of Action on Subnational Governments, Cities and other Local Authorities for Biodiversity. Since then, the Secretariat of the Convention has been liaising with Cities and local authorities to assess the potential of implementation of and interest for the Convention by networks at the local level. The projects and activities of MediverCities were developed over two meetings held in Montpellier, France, respectively in <a href="http://www.cbd.int/doc/?meeting=IPA-SNGCOLA-01">2011</a> and <a href="http://www.cbd.int/doc/?meeting=NBSAPRW-CLAMED-01">2012</a>. During the latter, on 19 January 2012, Ms. Mandroux, Mayor of Montpellier, proposed to launch the Mediterranean network of cities engaged for biodiversity entitled &quot;MediverCities&rdquo;.<br />
        The network has been presented at the Conference of the Parties to the Convention on Biological Diversity, in October 2012 in Hyderabad, at the <a href="http://www.iclei.org/index.php?id=12919">Cities for Life Summit</a>.
    </div>

    <h2>
        News
    </h2>
    <div style="text-align: justify;">
        MediverCities will be officially launched in Sarajevo, Bosnia-and-Herzegovina. The meeting will take place from 15<sup>th</sup> to 17<sup>th</sup> May 2013 and will gather Mediterranean local authorities and subnational governments representatives as well as national governments representatives and biodiversity-related organizations, institutes and academia.
    </div>
    <div style="text-align: justify;">
        Based on the links between sustainable urban areas and urban planning, the Sarajevo meeting will focus on supporting the participants in the development of their own biodiversity projects, strategies and local action plans. Also, this will be the opportunity for them to cooperate closely to find solutions to their common issues.<br />
        &nbsp;
    </div>
    For more information on MediverCities, please see contacts below.<br />
    <a name="Contacts" style="color: rgb(0, 102, 204); font-family: sans-serif; margin: 0px; padding: 0px; line-height: 17px; background-color: rgb(255, 255, 255); "></a>
    <h2>
        Contacts
    </h2>
    <ul>
        <li>
            Secretariat of the Convention on Biological Diversity :
        </li>
    </ul>
    <strong>Isabelle Lavail-Ravetllat</strong><br />
    iravetllat@yahoo.ca<br />

    <ul>
        <li>
            City of Montpellier, Secretariat of the network :
        </li>
    </ul>
    <strong>Stéphanie Grosset</strong><br />
    stephanie.grosset@ville-montpellier.fr<br />
    <br />
  </div>
  <div class="col-sm-3">
    <div class="eventsLists"></div>
  </div>
</div>