<script src="/app/views/partners-and-initiatives/partners-and-initiatives.html.js"></script>
<div class="row hidden-xs">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/partners-and-initiatives">Partners & Initiatives</a></li>
    <li class="active">nrg4SD</li>
  </ol>
</div>  

<div class="row" ng-controller="PartnersAndInitiativesPageController">
  <div class="col-sm-9">
    <h2>
        nrg4SD - The Network of Regional Governments for Sustainable Development
    </h2>
    <h3>
        About nrg4SD
    </h3>
    <p>
        <a href="http://www.nrg4sd.org/"><b>The Network of Regional Governments for Sustainable Development (nrg4SD)</b></a> is a non-profit international organisation representing subnational governments and associations of subnational governments at global level. Established in 2002 at the World Summit of Johannesburg, today nrg4SD totals some 50 subnational governments from 30 countries and 7 associations of subnational governments. Altogether, nrg4SD represents around 600 territories in the World.
    </p>
    <p>
        As part of its objectives, nrg4SD: promotes sustainable development at the level of subnational government around the Globe; acts as the voice and representative of subnational governments at global level in the field of sustainable development; seeks a wider recognition at international level of the importance of the commitment of subnational governments towards sustainable development; encourages the understanding, partnerships, projects and expertise exchange among its members, and also between them and other major international stakeholders. The Network focuses on 3 main thematic areas &ndash; climate change, biodiversity, water resources and sanitation &ndash; and the cross-cutting theme of sustainable development.
    </p>
    <p>
        Since 2010, nrg4SD takes part in the Global Partnership on Local and Subnational Action for Biodiversity and, following from Decision X/22, is collaborating with the Secretariat and its partners in order to facilitate the implementation of the Plan of Action and the establishment of an Advisory Committee of Subnational Governments for Biodiversity. In doing so, nrg4SD is also working with all the members of the global partnership, and in particular with ICLEI - Local Governments for Sustainability, who are key partners to the Convention for the implementation of the Plan of Action. In line with this, nrg4SD established a Working Group on the Convention on Biological Diversity (CBD) in order to:
    </p>
    <ul>
        <li>
            Create dynamism and enhance the &quot;network approach&quot; for the activities and interests of member regions, within the framework of the topics identified for work programme 2008-2011;
        </li>
        <li>
            Work on specific and concrete areas, aiming to position the Network in international initiatives/events and identifying project proposals for interregional cooperation, which could fall under the calls for proposals of international funding sources, as appropriate;
        </li>
        <li>
            Enhance the strategic vision and long-term work of the Network.
        </li>
    </ul>
    <p>
        For more information, see <a href="http://www.nrg4sd.org/sites/default/files/content/file/documentation/en/work_programme_wg_biodiversity_20110816.pdf">Working Group on the Plan of Action on Subnational Governments, Cities and other Local Authorities 2011-2020 - Work Programme 2011 &ndash; 2012</a>.
    </p>
  </div>
  <div class="col-sm-3">
    <div class="eventsLists"></div>
  </div>
</div>