<script src="/app/views/guidelines/guidelines.html.js"></script>
<div class="row hidden-xs">
    <div class="col-lg-12">	
		<ol class="breadcrumb">
		  <li><a href="/">Home</a></li>
		  <li class="active">Guidelines</li>
		</ol>
	</div>
</div>
<div class="row" ng-controller="GuidelinesPageController">
	  <div class="col-sm-9">
		<h1>Local Biodiversity Strategy and Action Plan Guidelines: <br />an aid to municipal planning and biodiversity conservation</h1>
		
		The <a href="http://www.ias.unu.edu/resource_centre/LBSAP_Guidelines.pdf"><i>Local Biodiversity Strategy and Action Plan Guidelines: an aid to municipal planning and biodiversity conservation </i></a>are intended to assist local governments in making a start with, or improvements to, their biodiversity planning processes. Drawing from local government experiences and examples, the Guidelines provide background guidance and supporting information for biodiversity strategy and action planning at the local level. Published as a working document, we intend to continuously add to and fine-tune the Guidelines, creating an increasingly comprehensive and interactive tool. Once you have downloaded the publication free of charge by clicking on the picture, below, please consider doing the following:&nbsp;<br />
		<br />
		<p style="text-align: justify; -ms-text-justify: inter-ideograph;">
		    1. Using the Guidelines to support local planning within your local government<a href="http://www.ias.unu.edu/resource_centre/LBSAP_Guidelines.pdf"><img alt="" src="/app/img/lbsap-guidelines.jpg" style="margin: auto 1px; float: right;" /></a>
		</p>
		<p>
		    2. Providing suggestions on how the Guidelines can be improved
		</p>
		<p style="text-align: justify; -ms-text-justify: inter-ideograph;">
		    Please send your specific comments or case studies to <a href="mailto:biodiversity@iclei.org">biodiversity[at]iclei.org</a>.&nbsp;<br />
		    <br />
		    <br />
		    <a href="http://www.iclei.org/" target="_blank"><img alt="" height="57" src="/app/img/logo-iclei.jpg" style="margin: 2px; width: 90px; height: 51px; float: left;" width="100" /></a><a href="http://www.cbc.iclei.org/" target="_blank"><img alt="" height="53" src="/app/img/logo-lab.jpg" style="margin: 2px 4px; width: 100px; height: 53px; float: left;" width="100" /></a><a href="http://www.ias.unu.edu/" target="_blank"><img alt="" height="59" src="/app/img/logo-unu-ias.jpg" style="margin: auto 2px; width: 120px; height: 59px; float: left;" width="120" /></a><a href="http://www.cbd.int/"><img alt="" height="69" src="/app/img/logo-cbd-en.jpg" style="margin: 4px 2px; width: 125px; height: 47px; float: left;" width="180" /></a>

		</p>
  </div>
  <div class="col-sm-3">
    <div class="eventsLists"></div>
  </div>
</div>