<script src="/app/views/partners-and-initiatives/partners-and-initiatives.html.js"></script>
<div class="row">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/partners-and-initiatives">Partners & Initiatives</a></li>
    <li><a href="/partners-and-initiatives/cbo">CBO</a></li>
    <li><a href="/partners-and-initiatives/cbo/overview">Overview</a></li>
    <li class="active">Inter-Agency Task-Force</li>
  </ol>
</div>  
<div class="row" ng-controller="PartnersAndInitiativesPageController">
  <div class="col-md-9">
    <h2>
        CBO Inter-Agency Task-Force
    </h2>
    <p>
        To support the production and to assure the global dissemination of the first edition of the Cities and Biodiversity Outlook, the Executive Secretary of CBD, Dr. Ahmed Djoghlaf has established the Inter-Agency Task-Force, which is composed of eight international organizations, in addition to the CBD.
    </p>
    <h2>
        Members
    </h2>
    <ul>
        <li>
            <strong>CBD</strong>&nbsp;- Braulio Ferreira de Souza Dias, Executive Secretary
        </li>
        <li>
            <b>UNEP-WCMC</b>&nbsp;- Damon Stanwell-Smith, Senior Programme Officer, Ecosystem Assessment
        </li>
        <li>
            <b>ICLEI</b>&nbsp;- Kobie Brand, Global Coordinator for Biodiversity
        </li>
        <li>
            <b>UNESCO</b>&nbsp;- Gretchen Kalonji , Assistant Director General for Natural Sciences
        </li>
        <li style="margin: 0px 0px 3px; padding: 0px; ">
            <b>UN-HABITAT</b>&nbsp;- Rafael Tuts, Chief of the Urban Environment and Planning Branch
        </li>
        <li>
            <b>IUCN</b>&nbsp;- Hans Friederich, Regional Director for Europe
        </li>
        <li>
            <b>UNU-ISP</b>&nbsp;- Srikantha Herath, Senior Academic Programme Officer
        </li>
        <li>
            <b>UN-DESA</b>&nbsp;- Mohan Peck, Senior Sustainable Development Officer and Keneti Faulalo, Interregional Adviser on SIDS
        </li>
        <li>
            <b>FAO</b>&nbsp;- Julien Custot, Facilitator
        </li>
        <li>
            <b>SATOYAMA INITIATIVE</b>&nbsp;- Anne McDonald, Director of the Operating Unit Ishikawa/Kanazawa
        </li>
    </ul>    
  </div>
  <div class="col-md-3"> 
    <div class="cboMenu"></div>
  </div>
</div>
