<script src="/app/views/partners-and-initiatives/partners-and-initiatives.html.js"></script>
<div class="row">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/partners-and-initiatives">Partners & Initiatives</a></li>
    <li><a href="/partners-and-initiatives/cbo">CBO</a></li>
    <li class="active">Global Launch Event</li>
  </ol>
</div>  
<div class="row" ng-controller="PartnersAndInitiativesPageController">
  <div class="col-md-9">
    <h2>
        CBO Global Launch Event
    </h2>
    <h4>
        <strong>Monday, 15 October | 10:35&ndash;11:00</strong>
    </h4>
    <p>
        Hall 3, Hyderabad International Convention Centre (HICC)<br />
        Cities for Life Summit<br />
        &nbsp;
    </p>
    <h4>
        <strong><em>Speakers</em></strong>
    </h4>
    <ul>
        <li>
            Mr. Braulio Dias, Executive Secretary, Convention on Biological Diversity
        </li>
        <li>
            Mr. Thomas Elmqvist, Professor in Natural Resource Management, Stockholm University
        </li>
    </ul>
    <h2>
        CBO Global Launch Press Conference
    </h2>
    <h4>
        <strong>Monday, 15 October | 12:00&ndash;12:30</strong>
    </h4>
    <p>
        Hitex 3, Media Centre, Hyderabad International Convention Centre (HICC)<br />
        &nbsp;
    </p>
    <h4>
        <em style="font-weight: bold; ">Speakers</em>
    </h4>
    <ul>
        <li>
            Mr. Braulio Dias, Executive Secretary, Convention on Biological Diversity
        </li>
        <li>
            Mr. Thomas Elmqvist, Professor in Natural Resource Management, Stockholm University
        </li>
        <li>
            Ms. Kobie Brand, Regional Director of ICLEI Africa, and Global Biodiversity Coordinator
        </li>
        <li>
            Mr. Bakary Kante, Director of Division of Environmental Law and Conventions (DELC), UNEP (TBC)
        </li>
    </ul>
    <h2>
        Panel Discussion: Science behind the policy and practice
    </h2>
    <h4>
        <strong>Tuesday, 16 October | 11:15</strong>
    </h4>
    <p>
        Hall 3, Hyderabad International Convention Centre (HICC)<br />
        Cities for Life Summit<br />
        &nbsp;
    </p>
    <h4>
        <strong><em>Speakers</em></strong>
    </h4>
    <ul>
        <li>
            CBO &ndash; Mr. Thomas Elmqvist, Professor in Natural Resource Management, Stockholm University
        </li>
        <li>
            CBI &ndash; Ms. Lena Chan, Director (National Biodiversity Centre, Singapore National Parks
        </li>
        <li>
            GBIF &ndash; Mr. Tim Hirsch, Senior Programme Officer for Engagement, Global Biodiversity Information Facility (TBC)
        </li>
        <li>
            URBIO &ndash; Ms. Haripriya Gundimeda, Associate Professor, Indian Institute of Technology&ndash;Mumbai
        </li>
        <li>
            TEEB and ecosystem valuation &ndash; Mr. Andre Mader, Programme Officer, CBD
        </li>
        <li>
            Local BSAP Studios &ndash; Speaker to be announced, UNU-IAS
        </li>
    </ul>
  </div>
  <div class="col-md-3"> 
    <div class="cboMenu"></div>
  </div>

</div>
