<script src="/app/views/partners-and-initiatives/partners-and-initiatives.html.js"></script>
<div class="row">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/partners-and-initiatives">Partners & Initiatives</a></li>
    <li><a href="/partners-and-initiatives/cbo">CBO</a></li>
    <li><a href="/partners-and-initiatives/cbo/overview">Overview</a></li>
    <li class="active">Strategy</li>
  </ol>
</div>  
<div class="row" ng-controller="PartnersAndInitiativesPageController">
  <div class="col-md-9">
    <h2>
    CBO Strategy
    </h2>
    <p>
        CBO will consist of two publications:
    </p>
    <ul>
        <li>
            CBO Action and Policy, which aims at providing knowledge and guidance to policy makers on urbanization and biodiversity and at reinforcing the role of subnational governments and local authorities in the implementation of the Convention. It will be an edited collaborative publication under the overall coordination of the Convention Secretariat, with CBD Secretariat as main editor;
        </li>
        <li>
            CBO Scientific Analyses and Assessments, which will underpin CBO Action and Policy and synthesize relevant studies on links between urbanization and biodiversity, and the impacts of urbanization on ecosystem services, and will be edited by Dr. Thomas Elmqvist, from Stockholm Resilience Centre at Stockholm University and by Cornell University in Ithaca, New York, United States of America.
        </li>
    </ul>
    <p>
        The CBO Action and Policy will be presented at Rio+20 and submitted to the World Cities&rsquo; Summit in Singapore, in June 2012, and officially launched at the second City Biodiversity Summit parallel to the eleventh meeting of the Conference of the Parties (COP 11) to the CBD, in October 2012. The CBO Scientific Analyses and Assessments will include in-depth analyses and undergo a careful peer-review process. Preliminary versions will be distributed at COP 11, with the final edition printed and published in 2013.
    </p>
    <p>
        To support content development, accuracy and global scope, CBO relies on a network of scientists, scientific institutions, United Nations agencies and other international organizations, specialists and decision-makers that represent more than 1,300 cities and subnational governments worldwide. To ensure synergy among the experts and the organizations within the network, the CBO-1 will be assisted by an Inter-Agency Task-force and an Advisory Committee, as well as the Global Partnership on Local and Subnational Action for Biodiversity.
    </p>
  </div>
  <div class="col-md-3"> 
    <div class="cboMenu"></div>
  </div>

</div>
