<script src="/app/views/partners-and-initiatives/partners-and-initiatives.html.js"></script>
<div class="row">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/partners-and-initiatives">Partners & Initiatives</a></li>
    <li><a href="/partners-and-initiatives/cbo">CBO</a></li>
    <li><a href="/partners-and-initiatives/cbo/overview">Overview</a></li>
    <li class="active">Timeline and Consulation Plan</li>
  </ol>
</div>  
<div class="row" ng-controller="PartnersAndInitiativesPageController">
  <div class="col-md-9">
    <h2>CBO Timeline and Consulation Plan</h2>
    <img alt="CBD Timeline" src="/app/img/cbo-timeline.jpg"  />
  </div>
  <div class="col-md-3"> 
    <div class="cboMenu"></div>
  </div>

</div>
