<script src="/app/views/resources/resources.html.js"></script>
<div class="row hidden-xs">
    <div class="col-lg-12"> 	
	    <ol class="breadcrumb">
	      <li><a href="/">Home</a></li>
	      <li><a href="/resources">Resources</a></li>
	      <li class="active">Strategies and Action Plans</li>
	    </ol>
    </div>
</div>
<div class="row" ng-controller="ResourcesPageController">
	<div class="col-md-9">
		<h1>
		    Subnational Biodiversity Strategies and Action Plans (SBSAPs)
		</h1>
		
		    Increasingly,&nbsp;<b>Subnational Biodiversity Strategies and Action Plans (SBSAPs)</b>&nbsp;are being developed at state/provincial/territorial, local and cities levels. Greater attention is also being given to the development of&nbsp;<a href="http://www.cbd.int/nbsap/related-info/region-bsap/">Regional (supranational) Biodiversity Strategies and Action Plans (RBSAPs)</a><br /><br />
	
		<p>
		    Decentralized planning serves as an effective support mechanism for implementing COP-10&nbsp;<a href="http://www.cbd.int/decision/cop/?id=12268">decision X/2</a>&nbsp;and&nbsp;<a href="http://www.cbd.int/decision/cop/?id=12288">decision X/22</a>&nbsp;on, respectively, the Strategic Plan for Biodiversity (2011-2020) and the Plan of Action on Subnational Governments, Cities and Other Local Authorities for Biodiversity (2011-2020).
		</p>
		<p>
		    SBSAPs prepared by countries at subnational, local and cities levels, as well as information on activities being undertaken in this regard, are provided below where available.
		</p>
		<h2>
		    CBD Capacity Building Module B-8
		</h2>
		<h4>
		    Biodiversity Planning for States, Provinces, Cities and Other Local Authorities: How to Develop a Subnational Biodiversity Strategy and Action Plan
		</h4>
		<p>
		    <a href="http://www.cbd.int/doc/training/nbsap/b8-train-biodiversity-plan-subnational-en.pdf">Download the English module</a>
		</p>
		<p>
		    <a href="http://www.cbd.int/doc/training/nbsap/b8-train-biodiversity-plan-subnational-fr.pdf">Download the French module</a>
		</p>
		<p>
		    <a href="http://www.cbd.int/doc/training/nbsap/b8-train-biodiversity-plan-subnational-es.pdf">Download the Spanish module</a>
		</p>
		<h2>
		    SBSAPs
		</h2>
		<h4>
		    Australia
		</h4>
		<ul>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/au-sbsap-strategy-en.pdf">National Local Government Biodiversity Strategy</a>
		    </li>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/au-sbsap-nsw-en.pdf">State of New South Wales</a>
		    </li>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/au-sbsap-queensland-en.pdf">State of Queensland</a>
		    </li>
		    <li>
		        <a href="http://www.environment.sa.gov.au/Conservation/Ecosystem_conservation/Biodiversity_strategy_-_SA_Arid_Lands">State of South Australia (Arid Lands)</a>&nbsp;<i><b>New!</b></i>
		    </li>
		    <li>
		        <a href="http://www.dse.vic.gov.au/conservation-and-environment/biodiversity/victorias-biodiversity-strategy/victorias-biodiversity-strategy-1997">State of Victoria</a>
		    </li>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/au-sbsap-western-australia-en.pdf">State of Western Australia</a>
		    </li>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/au-sbsap-joondalup-en.pdf">City of Joondalup</a>&nbsp;<i><b>New!</b></i>
		    </li>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/au-sbsap-liverpool-en.pdf">City of Liverpool</a>
		    </li>
		</ul>
		<h4>
		    Brazil
		</h4>
		<ul>
		    <li>
		        <a href="http://www.iclei.org/index.php?id=7910">City of Curitiba</a>
		    </li>
		    <li>
		        City of Sao Paolo (<a href="http://www.cbd.int/doc/nbsap/sbsap/br-sbsap-sao-paolo-en.pdf">English</a>,&nbsp;<a href="http://www.cbd.int/doc/nbsap/sbsap/br-sbsap-sao-paolo-pt.pdf">Portuguese</a>)&nbsp;<i><b>New!</b></i>
		    </li>
		</ul>
		<h4>
		    Canada
		</h4>
		<ul>
		    <li>
		        <a href="http://www.env.gov.bc.ca/conservationframework/whatis.html#overview">Province of British Columbia</a>&nbsp;(<a href="http://fraservalleyconservancy.ca/fvrbs/">Fraser Valley Region</a>)
		    </li>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/ca-sbsap-new-brunswick-en.pdf">Province of New Brunswick</a>
		    </li>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/ca-sbsap-ontario-en.pdf">Province of Ontario</a>
		    </li>
		    <li>
		        Province of Quebec (<a href="http://www.cbd.int/doc/nbsap/sbsap/ca-sbsap-quebec-p1-fr.pdf">Part 1</a>,&nbsp;<a href="http://www.cbd.int/doc/nbsap/sbsap/ca-sbsap-quebec-p2-fr.pdf">Part 2</a>)
		    </li>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/ca-sbsap-saskatchewan-en.pdf">Province of Saskatchewan</a>
		    </li>
		    <li>
		        <a href="http://www.enr.gov.nt.ca/_live/pages/wpPages/Biodiversity_Action_Plan.aspx">Northwest Territories</a>
		    </li>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/ca-sbsap-edmonton-en.pdf">City of Edmonton</a>&nbsp;<i><b>New!</b></i>
		    </li>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/ca-sbsap-montreal-en.pdf">City of Montreal</a>
		    </li>
		</ul>
		<h4>
		    China
		</h4>
		<ul>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/cn-sbsap-sichuan-en.pdf">Province of Sichuan</a>
		    </li>
		</ul>
		<h4>
		    Colombia
		</h4>
		<ul>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/co-sbsap-orinoquia-es.pdf">Orinoquía Region</a>
		    </li>
		</ul>
		<h4>
		    France
		</h4>
		<ul>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/fr-sbsap-outre-mer-fr.pdf">Overseas Territories</a>
		    </li>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/fr-sbsap-auvergne-fr.pdf">Region of Auvergne</a>
		    </li>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/fr-sbsap-bretagne-fr.pdf">Region of Brittany</a>
		    </li>
		    <li>
		        Region of Ile-de-France (<a href="http://www.cbd.int/doc/nbsap/sbsap/fr-sbsap-ile-de-france-en.pdf">English</a>,&nbsp;<a href="http://www.cbd.int/doc/nbsap/sbsap/fr-sbsap-ile-de-france-fr.pdf">French</a>)
		    </li>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/fr-sbsap-basse-normandie-fr.pdf">Region of Lower Normandy</a>
		    </li>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/fr-sbsap-paris-fr.pdf">City of Paris</a>
		    </li>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/fr-sbsap-montpellier-fr.pdf">City of Montpellier</a>&nbsp;(<a href="http://www.montpellier.fr/3533-referentiel-en-urbanisme-durable-aura-.htm">Améliorer l&#39;Urbanisme par un Référentiel d&#39;Aménagement (AURA)</a>)&nbsp;
		        <p>
		            Lignes directrices pour l&rsquo;élaboration et la mise en œuvre des stratégies régionales pour la biodiversité en France métropolitaine&nbsp;(Comité français de l&#39;UICN avec le soutien de la CDB)
		        </p>
		    </li>
		</ul>
		<h4>
		    India
		</h4>
		<ul>
		    <li>
		        State of Arunachal Pradesh
		    </li>
		    <li>
		        State of Kerala
		    </li>
		    <li>
		        State of Madhya Pradesh
		    </li>
		</ul>
		<h4>
		    Ireland
		</h4>
		<ul>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/ie-sbsap-dublin-en.pdf">City of Dublin</a>
		    </li>
		</ul>
		<h4>
		    Japan
		</h4>
		<ul>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/LBSAPlist_Japan_Mar2012.pdf">List of prefectures and cities that have developed their BSAP (as of March 2012)</a>
		    </li>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/LBSAP_Guide_Japan-en.doc">Outline of Guidelines prepared by the Ministry of Environment to assist local governments develop their BSAP</a>&nbsp;(<a href="http://www.biodic.go.jp/biodiversity/shiraberu/local_gov/local/decision.html">Japanese version</a>)
		    </li>
		    <li>
		        <a href="http://www.biodic.go.jp/biodiversity/shiraberu/local_gov/local/files/biodiversity_local_strategy_case_summary.pdf">Summary of several local BSAPs</a>&nbsp;(in Japanese only for the moment)
		    </li>
		    <li>
		        <a href="http://www.biodic.go.jp/biodiversity/shiraberu/local_gov/local/files/biodiversity_local_analyze.pdf">Analysis of several local BSAPs</a>&nbsp;(in Japanese only for the moment)&nbsp;
		    </li>
		</ul>
		<h4>
		    Mexico
		</h4>
		<ul>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/mx-sbsap-michoacan-es.pdf">State of Michoacán</a>
		    </li>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/mx-sbsap-morelos-es.pdf">State of Morelos</a>
		    </li>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/mx-sbsap-aguascalientes-es.pdf">State of Aguascalientes</a>
		    </li>
		</ul>
		<h4>
		    Micronesia (Federated States of)
		</h4>
		<ul>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/fm-sbsap-chuuk-en.pdf">State of Chuuk</a>
		    </li>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/fm-sbsap-kosrae-en.pdf">State of Kosrae</a>
		    </li>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/fm-sbsap-pohnpei-en.pdf">State of Pohnpei</a>
		    </li>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/fm-sbsap-yap-en.pdf">State of Yap</a>
		    </li>
		</ul>
		<h4>
		    Namibia
		</h4>
		<ul>
		    <li>
		        City of Walvis Bay
		    </li>
		</ul>
		<h4>
		    New Zealand
		</h4>
		<ul>
		    <li>
		        <a href="http://www.trc.govt.nz/Biodiversity/">Regional Council of Taranaki</a>
		    </li>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/nz-sbsap-waitakere-en.pdf">City of Waitakere</a>&nbsp;<i><b>New!</b></i>
		    </li>
		</ul>
		<h4>
		    Peru
		</h4>
		<ul>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/pe-sbsap-amazon-es.pdf">Amazon Region</a>
		    </li>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/pe-sbsap-cajamarca-es.pdf">Region of Cajamarca</a>
		    </li>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/pe-sbsap-junin-es.pdf">Region of Junín</a>
		    </li>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/pe-sbsap-loreto-es.pdf">Region of Loreto</a>
		    </li>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/pe-sbsap-madre-dios-es.pdf">Region of Madre de Dios</a>
		    </li>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/pe-sbsap-san-martín-es.pdf">Region of San Martín</a>
		    </li>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/pe-sbsap-ucayali-es.pdf">Region of Ucayali</a>
		    </li>
		</ul>
		<h4>
		    Portugal
		</h4>
		<ul>
		    <li>
		        Lisbon (<a href="http://www.cbd.int/doc/nbsap/sbsap/pt-sbsap-lisbon-en.pdf">English</a>, <a href="http://www.cbd.int/doc/nbsap/sbsap/pt-sbsap-lisbon-pt.pdf">Portuguese</a>)
		    </li>
		</ul>
		<h4>
		    Singapore
		</h4>
		<ul>
		    <li>
		        <a href="http://www.nparks.gov.sg/cms/index.php?option=com_content&amp;view=article&amp;id=170&amp;Itemid=152">Singapore Index on Cities&rsquo; Biodiversity</a>
		    </li>
		</ul>
		<h4>
		    South Africa
		</h4>
		<ul>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/za-sbsap-bergrivier-en.pdf">Municipality of Bergrivier</a>&nbsp;<i><b>New!</b></i>
		    </li>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/za-sbsap-ethekwini-en.pdf">Municipality of eThekwini</a>&nbsp;<i><b>New!</b></i>
		    </li>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/za-sbsap-cape-town-en.pdf">City Cape Town</a>
		    </li>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/za-sbsap-johannesburg-en.pdf">City of Johannesburg</a>
		    </li>
		</ul>
		<h4>
		    United Kingdom
		</h4>
		<ul>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/gb-sbsap-england-en.pdf">England</a>&nbsp;(<a href="http://www.sebiodiversity.org.uk/">South East England</a>)
		    </li>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/gb-sbsap-northern-ireland-en.pdf">Northern Ireland</a>
		    </li>
		    <li>
		        <a href="http://www.cbd.int/doc/nbsap/sbsap/gb-sbsap-scotland-en.pdf">Scotland</a>&nbsp;(<a href="http://www.cbd.int/doc/nbsap/sbsap/gb-sbsap-scotland-skye-lochalsh-en.pdf">Counties of Skye &amp; Lochalsh</a>)
		    </li>
		    <li>
		        <a href="http://bit.ly/rOPywz">Wales</a>
		    </li>
		</ul>
	</div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading title1">
                <h3 class="panel-title">Training Module</h3>
            </div>
            <div class="panel-body">
                <button type="button" class="btn btn-success right"><a href="/resources/strategies-and-action-plans/training-module">View Training Module</a></button>
            </div>
        </div>        
        <div class="eventsLists"></div>     
    </div>	
</div>	