<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Subnational and Local Implementation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Subnational and Local Implementation">
    <link rel="shortcut icon" href="/subnational/app/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/subnational/app/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/subnational/app/css/main.css">
    <link rel="stylesheet" type="text/css" href="/subnational/app/css/subnational.css">
    <style>[ng\:cloak], [ng-cloak], .ng-cloak { display: none !important; }</style>
    <style>
        .nav > li > a {
            font-family: "HelveticaNeueW02-55Roma", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            font-weight: normal;
        }
        .sec2 .body-content h2 {
            font-family: "HelveticaNeueW02-55Roma", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            font-weight: normal;
        }
        h3 {
            font-family: "HelveticaNeueW01-75Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            font-weight: normal;
        }
        a.getstarted {
            font-family: "HelveticaNeueW01-75Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            font-weight: normal;
        }
        .home-page .nav a {
            color: #eee;
            font-family: "HelveticaNeueW02-55Roma", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            font-weight: bold;
        }
        .home-page .header-actions > li > a {
            color: #eee;  
        }
        .dropdown li {
            border-right: none;
        }
        .home-page .main-nav p {
            color: #eee;  
        }
        .home-page .header-banner {
            background-color: rgba(0,0,0,0.50);
            border-bottom: 1px solid black;
        }
        #main-nav .logo img {
            margin-top: 16px;
            max-height: 65px;
        }
        .carousel-control {
            padding-top: 2%;
            color: #333;
            width: 4%;
        }
        #double li { 
            line-height:1.5em;
            float:left;
            display:inline;
            width:45%;
        }
        #double  { 
            width:62%;
        } 
        .nav {
           border-right: 1px solid #999 !important;
        }
        ul.nav+.subnav {
            border: none !important;
        }                   
    </style>


</head>
<body ng-controller="TemplateController" ng-class="{'home-page':xhomePage}">
    <div>
        <div class="header-banner" style="position:absolute;width:100%;height:140px"></div>
        <div class="container" id="main-nav">

            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <a class="logo" href="http://www.cbd.int/" title="Convention on Biological Diversity">
                        <img src="/subnational/app/img/cbd-logo-en.min.svg" class="svg" alt="CBD Logo">
                    </a>
                </div>

                <div class="col-lg-7 col-md-7 col-sm-7">
                    <div class="navbar visible-xs">
                        <div class="navbar-header">
                            <a class="btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            <ul class="header-actions">
                                <!-- <li ng-hide="currentPath()=='/database/'">
                                    <form action="/search" style="display: none;" class="site-search">
                                        <input type="text" placeholder="Search the CHM" name="q" />
                                        <input type="submit" value="" style="width:200px" />
                                    </form>
                                    <a href="" class="search-icon"></a
                                </li> 
                                <li><a href="/database/news" style="color:black">News</a></li>-->
                                <li><a class="icon icon-globe" style="color:black">&nbsp;Language: EN</a></li>
                                <!-- <li><a class="signin" href="/database" data-slug="signin" style="color:black">Search</a></li> -->
                            </ul>
                        </div>
                    </div>

                    <div class="navbar-collapse collapse">
                        <ul class="nav" >
                            <li><a ng-class="{active: portal=='home'}" href="/subnational/">Home</a></li>
                            <li><a ng-class="{active: portal=='resources'}" href="/subnational/resources">Resources</a></li>
                            <li><a ng-class="{active: portal=='partners-and-initiatives'}" href="/subnational/partners-and-initiatives">Partners and Initiatives</a></li>
                        </ul>
                         <ul class="nav subnav ng-hide="homePage" id="double">
                            <li ng-repeat="item in navigation"><a ng-class="{active: item.url==currentPath()}" ng-href="{{item.url}}">{{item.title}}</a></li>
                        </ul>
                        <!-- <p class="visible-xs">Get Started <a href="/subnational/database/" class="getstarted">Search</a></p> -->
                    </div>
                </div> 

                <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs" style="height:100px">
                    <ul class="header-actions">
                        <li class="dropdown">
                            <a data-toggle="dropdown" href="#"><i class="icon icon-globe" style="font-size:15px"></i>&nbsp; Language: <strong>EN</strong></a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="disabled"><a>لعربية</a></li>
                                <li class="disabled"><a>中文</a></li>
                                <li><a href="#"><strong>English</strong></a></li>
                                <li class="disabled"><a>Español</a></li>
                                <li class="disabled"><a>Français</a></li>
                                <li class="disabled"><a>Русский</a></li>
                            </ul>
                        </li>
                        <li ng-cloak ng-hide="user.isAuthenticated" style="display:none; border-right:none;padding-right:0">
                            <a class="signin" href="/subnational/management/signin" data-slug="signin"><i class="icon-off" style="font-size:15px"></i>&nbsp; Sign In</a>
                        </li>
                        <li ng-cloak class="dropdown" ng-show="user.isAuthenticated" style="border-right:none;padding-right:0">
                            <a data-toggle="dropdown" href="#"><i class="icon-chevron-down" style="font-size:15px"></i>&nbsp; {{user.name}}</a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="disabled"><a href="#"><i class="icon-cog" style="font-size:15px"></i>&nbsp; Settings</a></li>
                                <li class="disabled"><a href="#"><i class="icon-user" style="font-size:15px"></i>&nbsp; Profile</a></li>
                                <li><a href="#" ng-click="signOut()"><i class="icon-signout" style="font-size:15px"></i>&nbsp; Sign-out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row" >
                <div class="col-sm-12" style="position:relative;"">
                    <div>
                        <img src="/subnational/app/img/banner.jpg" style="width:100%">
                    </div>
                    <div style="position:absolute; top:20%; left: -1%;">
                        <img src="/subnational/app/img/subnational-title.png" alt="Subnational and Local Implementation"  > 
                    </div>
                </div>  
            </div>
        </div>
    </div>
    <div class="container page-content">
        <ng-view></ng-view>
    </div>
    <!-- begin carousel -->
    <div class="container carouselContainer hidden-xs">
        <div class="row hidden-xs">
            <div class="col-sm-12" ng-hide="currentPath()=='/help/404'">
                <h2>Partners and Initiatives</h2>
                <div class="well">
                    <div id="homeCarousel" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-sm-3 text-center"><a href="//partners-and-initiatives/iclei" ><img src="/subnational/app/img/iclei.png" alt="Image" class="img-responsive text-center">ICLEI - Local Governments for Sustainability</a></div>
                                    <div class="col-sm-3"><a href="/subnational/partners-and-initiatives/nrg4sd" ><img src="/subnational/app/img/nrg4sd.png" alt="Image" class="img-responsive">The Network of Regional Governments for Sustainable Development</a></div>
                                    <div class="col-sm-3"><a href="/subnational/partners-and-initiatives/urbio" ><img src="/subnational/app/img/urbio.png" alt="Image" class="img-responsive">Urban Biodiversity & Design</a></div>
                                    <div class="col-sm-3"><a href="/subnational/partners-and-initiatives/stockholm-resilience-centre" ><img src="/subnational/app/img/src.png" alt="Image" class="img-responsive">Stockholm Resilience Centre</a></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-sm-3"><a href="/subnational/partners-and-initiatives/un-habitat" ><img src="/subnational/app/img/un-habitat.png" alt="Image" class="img-responsive">UN-HABITAT</a></div>
                                    <div class="col-sm-3"><a href="/subnational/partners-and-initiatives/nrg4sd" ><img src="/subnational/app/img/nrg4sd.png" alt="Image" class="img-responsive">The Network of Regional Governments for Sustainable Development</a></div>
                                    <div class="col-sm-3"><a href="/subnational/partners-and-initiatives/urbio" ><img src="/subnational/app/img/urbio.png" alt="Image" class="img-responsive">Urban Biodiversity & Design</a></div>
                                    <div class="col-sm-3"><a href="/subnational/partners-and-initiatives/stockholm-resilience-centre" ><img src="/subnational/app/img/src.png" alt="Image" class="img-responsive">Stockholm Resilience Centre</a></div>
                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#homeCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                        <a class="right carousel-control" href="#homeCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end carousel -->


    <footer class="footer">
        <div class="container" id="footer">
        <div class="row hidden-xs">
            <div class="col-lg-2 col-md-2 col-sm-2">
                <h4>The Convention</h4>
                <ul>
                    <li><a href="https://www.cbd.int/convention/text/">Text of the Convention</a></li>
                    <li><a href="https://www.cbd.int/convention/parties/list/">List of Parties</a></li>
                    <li><a href="https://www.cbd.int/sp/">Strategic Plan</a></li>
                    <li><a href="https://www.cbd.int/programmes/">Programmes and Issues</a></li>
                    <li><a href="https://www.cbd.int/cooperation/">Cooperation &amp; Partnerships</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <h4>Cartagena Protocol</h4>
                <ul>
                    <li><a href="https://bch.cbd.int/protocol/text/">Text of the Protocol</a></li>
                    <li><a href="https://bch.cbd.int/protocol/parties/">List of Parties</a></li>
                    <li><a href="https://bch.cbd.int/protocol/issues/cpb_stplan.shtml">Strategic Plan</a></li>
                    <li><a href="https://bch.cbd.int/">Biosafety Clearing-House</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <h4>Nagoyal Protocol</h4>
                <ul>
                    <li><a href="https://www.cbd.int/abs/text/">Text of the Protocol</a></li>
                    <li><a href="https://www.cbd.int/abs/nagoya-protocol/signatories/">List of Parties</a></li>
                    <li><a href="https://absch.cbd.int/">ABS Clearing-House</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <h4>Programmes</h4>
                <ul>
                    <li><a href="https://www.cbd.int/programmes/">Thematic Programmes</a></li>
                    <li><a href="https://www.cbd.int/programmes/">Cross-Cutting Issues</a></li>
                    <li><a href="https://www.cbd.int/programmes/">Major Groups</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <h4>Information</h4>
                <ul>
                    <li><a href="https://www.cbd.int/meetings/">Meetings</a></li>
                    <li><a href="https://www.cbd.int/notifications/">Notifications</a></li>
                    <li><a href="https://www.cbd.int/countries/">National Information</a></li>
                    <li><a href="https://www.cbd.int/information/publications.shtml">Publications</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <h4>Secretariat</h4>
                <ul>
                    <li><a href="https://www.cbd.int/secretariat/">Overview</a></li>
                    <li><a href="https://www.cbd.int/secretariat/staff/">Staff</a></li>
                    <li><a href="https://www.cbd.int/secretariat/vacancies/">Opportunities</a></li>
                    <li><a href="https://www.cbd.int/contact/">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="row copyright">
            <div class="col-lg-6 col-md-6 col-sm-6 logorow">
                <p style="margin-top:-8px">© 2013 SCBD | <a href="http://www.cbd.int/privacy">Privacy Policy</a> | <a href="http://www.cbd.int/terms">Terms of Use</a></p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <ul class="social clearfix">
                <li><a href="http://twitter.com/cbdnews" class="twitter"></a></li>
                <!-- <li><a href="http://www.linkedin.com/company/scbd" class="linkedin"></a></li> -->
                <li><a href="https://www.facebook.com/UNBiodiversity" class="facebook"></a></li>
             <!--    <li><a href="https://plus.google.com/0000/posts" class="google"></a></li> -->
                <li><a href="/subnational/database/news" class="rss"></a></li>
            </ul>
        </div>
    </footer>
    <script src="/subnational/app/libs/requirejs/require.js" data-main="/subnational/app/js/boot.js"></script>
</body>
</html>