<div class="row hidden-xs">
    <div class="col-lg-12">      
        <ol class="breadcrumb">
            <li><a href="/subnational">Home</a></li>
            <li><a href="http://www.cbd.int/subnational/partners-and-initiatives" >Partners & Initiatives</a></li>
            <li class="active">City Biodiversity Index</li>
        </ol>
    </div>
</div>  

<div class="row" ng-controller="PartnersAndInitiativesPageController">
  <div class="col-sm-9">
    <h1>
        City Biodiversity Index (or Singapore Index)
    </h1>
    <div>
        <p>Existing environmental indices for cities focus on brown issues such as clean water, sanitation, energy efficiency, air quality, and waste management. Current biodiversity indicators available are implemented at the national level, and while there are numerous publications and studies done on urban biodiversity, there is no single index that consolidates all these biodiversity related indicators at the local level. In COP-9 of 2008, Singapore’s then Minister for National Development Mr. Mah Bow Tan proposed for the establishment of a city biodiversity index to benchmark biodiversity conservation efforts of cities.</p>
        <p>Hence, the National Parks Board of Singapore (NParks), together with experts from various countries, assisted the Secretariat of the CBD to develop the Index.  The result is the formulation of the ‘Singapore Index on Cities’ Biodiversity or ‘Singapore Index (SI)’, so named in recognition of Singapore’s contribution and leadership. This is a first self-assessment tool to help cities evaluate and benchmark their biodiversity conservation efforts.</p>
        <p>The City Biodiversity Index, also referred to as the Singapore Index on Cities’ Biodiversity or the Singapore Index (SI), is a self-assessment tool for cities to evaluate and monitor the progress of their biodiversity conservation efforts against their own individual baselines. It comprises: a) the “Profile of the City”, which provides background information on the city; and b) the 23 indicators that measure native biodiversity, ecosystem services provided by biodiversity, and governance and management of biodiversity based on guidelines and methodology provided in the <a href="http://www.cbd.int/authorities/doc/Singapore-Index-User-Manual-20140730-en.pdf" target="_self">User’s Manual on the Singapore Index on Cities ‘ Biodiversity</a>.</p>
        <p>The scoring of the Singapore Index is quantitative in nature. Each indicator is assigned a scoring range between zero and four points, with a total possible maximum score of 92 points. The year in which a city first embarks on this scoring will be taken as the baseline year, and this will be measured against future applications of the Index to chart its progress in conserving biodiversity.</p>
        <p><img src='/subnational/app/img/singapore-index-city-biodiversity.png'  /></p>
        <p>Cities that have applied the Singapore Index have found that: a) the process facilitated capacity-building in biodiversity conservation, b) the indicators also function as biodiversity conservation guidelines, and c) the quantitative scoring could assist in setting priorities for conservation actions and budget allocation.</p>
        <p>The Singapore Index is a dynamic tool. Moving forward, it is imperative that the Index remains relevant, credible and flexible enough to be adapted into broader frameworks. The true measure of success is the regular and long-term application of the Singapore Index by cities to chart their progress in conserving biodiversity.</p>

    </div>
  </div>
  <div class="col-sm-3">
    <div class="eventsLists"></div>
  </div>
</div>