<div class="row hidden-xs">
    <div class="col-lg-12">      
        <ol class="breadcrumb">
            <li><a href="/subnational">Home</a></li>
            <li><a href="/subnational/partners-and-initiatives">Partners & Initiatives</a></li>
            <li class="active">ICLEI</li>
        </ol>
    </div>
</div>  

<div class="row" ng-controller="PartnersAndInitiativesPageController">
  <div class="col-sm-9">
    <h1>
        ICLEI -&nbsp;Local Governments for Sustainability
    </h1>
    <h2>
        About ICLEI
    </h2>
    <p>
        ICLEI - Local Governments for Sustainability is the world&#39;s leading association of cities and local governments dedicated to sustainable development. ICLEI is a powerful movement of 12 mega-cities, 100 super-cities and urban regions, 450 large cities as well as 450 small and medium-sized cities and towns in 84 countries.
    </p>
    <p>
        ICLEI was founded in 1990 as the &#39;International Council for Local Environmental Initiatives&#39;. The Council was established when more than 200 local governments from 43 countries convened at our inaugural conference, the World Congress of Local Governments for a Sustainable Future, at the United Nations in New York.
    </p>
    <p>
        ICLEI promotes local action for global sustainability and supports cities to become sustainable, resilient, resource-efficient, biodiverse, low-carbon; to build a smart infrastructure; and to develop an inclusive, green urban economy. The ultimate aim is to achieve healthy and happy communities. They have developed stable, long-term programs to support local-level sustainability and continue to develop innovative new programs to respond to issues of international concern.
    </p>
    <p>
        ICLEI&rsquo;s international Cities Biodiversity Center, located in the middle of a global biodiversity hotspot in Cape Town, South Africa, has since 2006 been working with local governments worldwide in efforts to improve biodiversity management and to share their successes and lessons. This has led to a strong partnership with the Secretariat of the CBD, to strengthen advocacy for biodiversity at, and by, the levels of local and subnational government in support of the implementation of the Convention.
    </p>
    <h2>
        Learn More
    </h2>
    <p>
        <a href="http://www.iclei.org/index.php?id=6199" target="_blank">Visit ICLEI&#39;s Website</a>
    </p>
    <p><a href="http://www.iclei.org/index.php?id=11546" target="_blank">ICLEI Case Studies</a></p>
    <p><a href="http://www.iclei.org/index.php?id=11546" target="_blank">ICLEI CITIES BIODIVERSITY CENTER RESOURCES</a></p>
  </div>
  <div class="col-sm-3">
    <div class="eventsLists"></div>
  </div>
</div>