<div class="row hidden-xs">
    <div class="col-lg-12">    
      <ol class="breadcrumb">
        <li><a href="/subnational">Home</a></li>
        <li><a href="/subnational/partners-and-initiatives">Partners & Initiatives</a></li>
        <li class="active">Local Action for Biodiversity</li>
      </ol>
    </div>
</div>  

<div class="row" ng-controller="PartnersAndInitiativesPageController">
  <div class="col-sm-9">
    <h1>Local Action for Biodiversity</h1>
    Local Action for Biodiversity (LAB) is a global biodiversity programme coordinated by ICLEI &ndash; Local Governments for Sustainability in partnership with IUCN (International Union for Conservation of Nature). LAB&rsquo;s approach is action-oriented and customised for local and regional authorities and their partners around the world, with the goal of improved and effective biodiversity management at the local level. LAB is a key component of, and contributor to, the Global Partnership on Cities and Biodiversity, chaired by the Secretariat for the Convention on Biological Diversity and launched at IUCN&rsquo;s 2008 World Conservation Congress in Barcelona.<br /><br />
    <p>
        LAB started in 2006 with 21 pioneer cities and local governments who are international leaders in managing biodiversity at the local level. The Programme is coordinated by a team of biodiversity experts who offer support to all participants in the form of technical assistance, provision of networking and profiling opportunities and, together with partners, providing a platform for global advocacy.
    </p>
    <p>Capacity, objectives and requirements vary among local authorities and accordingly LAB offers a variety of entry points for participation:</p>
    
    <h3>The LAB Pioneer Project</h3>
    A three-year, five-step process producing key deliverables on assessment, planning and implementation, underpinned by political commitment.

    <h3>LAB Special Focus Projects</h3>
    A range of specialised biodiversity projects that are thematically focused and often regionally specific.
    
    <h3>LABNetwork</h3>
    Association with the LAB Programme and a way of keeping up to date with the various LAB activities.<br /><br />
    
    <p>For more information contact the LAB Programme Team at <a href="mailto:lab@iclei.org">lab@iclei.org</a> or visit the LAB website at <a href="http://www.iclei.org/lab">www.iclei.org/lab</a>.</p>
  </div>
  <div class="col-sm-3">
    <div class="eventsLists"></div>
  </div>
</div>