<div class="row hidden-xs">
    <div class="col-lg-12">  
        <ol class="breadcrumb">
            <li><a href="/subnational">Home</a></li>
            <li><a href="/subnational/partners-and-initiatives">Partners & Initiatives</a></li>
            <li class="active">MITIN</li>
        </ol>
    </div>
</div>  

<div class="row" ng-controller="PartnersAndInitiativesPageController">
  <div class="col-sm-9">
    <h1>
        Maritime Innovative Territories International Network
    </h1>
    <h2>
        What is it?
    </h2>
    <div style="text-align: justify;">
        Taking into account the increasing role of the oceans in the global ecomomy and the concepts of &quot;blue economy&quot;, and more globally &quot;blue growth&quot;, some port cities, with their associated scientific institutions, representing relevant territories dedicated to oceans management, united to form the Maritime Innovative Territories International Network - <a href="http://www.tech-brest-iroise.fr/Projets-1277-9-0-0.html">MITIN</a>.<br />
        Together, they aim at improving the sustainable use of the oceans and strengthen the political will to work with economic stakeholders in this domain.<br />
        <br />
        The objectives of the network are:
    </div>
    <ul>
        <li style="text-align: justify;">
            To analyze the conditions as well as opportunities opened by sustainable development strategies of the maritime economy
        </li>
        <li style="text-align: justify;">
            To develop knowledge of the marine world and the human skills required for a sustainable exploitation of maritime resources
        </li>
        <li style="text-align: justify;">
            To act towards the goals of a blue growth, by exploiting the collective strength, knowledge and skills of an international multidisciplinary network
        </li>
        <li style="text-align: justify;">
            To promote the concept of a blue growth by maritime communities and to sustain / or contribute to the actions undertaken by international institutions working towards the same goal
        </li>
    </ul>
    <div style="text-align: justify;">
        These goals will be achieved through thee provision of comprehensive analysis to the members to contribute to the development of best practices and other techniques related to the sustainable use of the ocean, the support to international organizations in order to strengthen the international cooperation for development, to be a link between political decision-making and the scientific community, the promotion of economic development through partnerships to meet the needs of developing countries and markets, the development of policies and strategies and serving as a communication and exchange platform.<br />
        <br />
        MITIN is an initiative led by the <a href="http://www.brest.fr/">city of Brest</a>, France, with the support of the Secretariat of the Convention on Biological Diversity. It has been launched on 13<sup>th</sup> July 2012 in Brest, France.
    </div>
    <h2>
        The Mandate
    </h2>
    <div style="text-align: justify;">
        The tenth meeting of the Conference of the Parties to the Convention on Biological Diversity, through <a href="https://www.cbd.int/decision/cop/?id=12288" target="_self">Decision X/22</a>, endorsed the Plan of Action on Subnational Governments, Cities and other Local Authorities for Biodiversity.<br />
        Since then, the Secretariat of the Convention has been liaising with cities and local authorities to assess the potential of the implentation of and interest for the Convention by networks at the local level.<br />
        <br />
        In parallel, <a href="https://www.cbd.int/decision/cop/?id=12295" target="_self">Decision X/29</a> related to Marine and Coastal Biodiversity endorses the organization of workshops to &quot;identify practical and innovative ways to accelerate progress on the establishment and effective management of marine protected areas in under-represented areas of marine environment.<br />
        <br />
        The biodiversity issues faced by port cities overlap both Decisions. Pursuant to this, the Secretariat of the Convention on Biological diversity supported the initative led by the Mayor of Brest and President of the association of cities Brest Métropole Océane, Mr. François Cuillandre, and now participate in the development of MITIN.
        &nbsp;
    </div>
    <h2>
        News
    </h2>
    <div style="text-align: justify;">
        The MITIN membres have just launched its web-based platform dedicated to <a href="www.biodiversite-marine.eu/index.html">Marine Biodiversity</a>. This is a place for coastal local authorities and other relevant stakeholders to share information. This initiative is closely related to the Marine and Coastal Biodiversity Programme developed by the Secretariat of the Convention on Biological Diversity. Read the latest <a href="http://www.cbd.int/authorities/doc/MiTin-newsletter-n2.pdf" target="_self">MiTin newsletter</a>.
    </div>
    <h2>
        Contacts
    </h2>
    <div style="text-align: justify;">
        For additional information, please contact:<br />
        <br />
        <strong><u>Secretariat of the Convention on Biological Diversity</u></strong><br />
        Mr. Oliver Hillel<br />
        Programme Officer -&nbsp;<span style="color: rgb(51, 51, 51); font-family: sans-serif; line-height: 15px;">Sustainable Use, Tourism and Island Biodiversity</span><br />
        oliver.hillel@cbd.int<br />
        +1&nbsp;<span style="color: rgb(51, 51, 51); font-family: sans-serif; line-height: 15px;">514 287 7009</span><br />
        <br />
        <u><strong>Brest Métropole Océane, France</strong></u><br />
        Ms. Armelle Labadie-Ouedraogo<br />
        armelle.labadie-ouedraogo@brest-metropole-oceane.fr<br />
        +33 2 98 33 55 65
    </div>
  </div>
  <div class="col-sm-3">
    <div class="eventsLists"></div>
  </div>
</div>