<div class="row hidden-xs">
    <div class="col-lg-12">  	
		<ol class="breadcrumb">
		  <li><a href="/subnational">Home</a></li>
		  <li class="active">Partners and Initiatives</li>
		</ol>
	</div>
</div>
<div class="row" ng-controller="PartnersAndInitiativesPageController">
	<div class="col-xs-9">

			<h1>Partners and Iniatives</h1>
			<h2>Global Partnership on Local and Subnational Action for Biodiversity</h2>
			<p>
				The Global Partnership on Local and Subnational Action for Biodiversity was established in 2008 with the goal of bringing together all the relevant networks and initiatives involved,directly or indirectly, in implementing the Convention on Biological Diversity, as well as UN Agencies, international NGOs, selected Parties and Scientific networks. City governments are represented by the Advisory Committee on Cities, and Subnational governments by the Advisory Committee on Subnational Governments.
			</p>

		<div class="col-xs-6">
			<div class="panel panel-default">
		  		<div class="panel-heading title1">
			  		<h3 class="panel-title">Cities</h3>
			  	</div>
			  	<div class="panel-body">	
					<p>
						<a href="/subnational/partners-and-initiatives/global-partnership/advisory-committee-on-cities-and-biodiversity">Advisory Committee on Cities</a></p>
					<p>
						<a href="/subnational/partners-and-initiatives/cbo">Cities and Biodiversity Outlook - CBO</a></p>
					<p>
						<a href="/subnational/partners-and-initiatives/city-biodiversity-index">City Biodiverstiy Index - CBI</a></p>
					<p>
						<a href="/subnational/partners-and-initiatives/iclei">ICLEI - Local Governments for Sustainability</a></p>
					<p>
						<a href="/subnational/partners-and-initiatives/medivercities">MediverCities</a></p>
				</div>
			</div>
			<div class="panel panel-default">
		  		<div class="panel-heading title1">
			  		<h3 class="panel-title">Subnational &amp; Local Authorities</h3>
			  	</div>
			  	<div class="panel-body">	
					<p>
						<a href="/subnational/partners-and-initiatives/global-partnership/advisory-committee-on-sub-national-governments">Advisory Committee on Subnational Governments</a></p>
					<p>
						<a href="/subnational/partners-and-initiatives/local-action-for-biodiversity-lab">Local Action for Biodiversity</a></p>
					<p>
						<a href="/subnational/partners-and-initiatives/nrg4sd">nrg4SD - The Network of Regional Governments for Sustainable Development</a></p>
				</div>
			</div>

		</div>

		<div class="col-xs-6">
			<div class="panel panel-default">
		  		<div class="panel-heading title1">
			  		<h3 class="panel-title">Scientific Partners</h3>
			  	</div>
			  	<div class="panel-body">			
					<p>
						<a href="/subnational/partners-and-initiatives/stockholm-resilience-centre">Stockholm Resilience Centre</a></p>
					<p>
						<a href="/subnational/partners-and-initiatives/urbio">URBIO - Urban Biodiversity &amp; Design</a></p>
					<p>
						<a href="http://www.worldresourcesforum.org/wrf-and-convention-biological-diversity-organise-urban-eco-efficiency-labs-india-and-china">The World Resources Forum (WRF) </a></p>
					<p>
						<a href="http://www.thenatureofcities.com/">Nature of Cities blog</a></p>
				</div>
			</div>
			<div class="panel panel-default">
		  		<div class="panel-heading title1">
			  		<h3 class="panel-title">UN Partners and Intergovernmental Partners</h3>
			  	</div>
			  	<div class="panel-body">
					<p>
						United Nations Educational, Scientific and Cultural Organization&nbsp;<a href="http://www.unesco.org/">(UNESCO)</a></p>
					<p>
						United Nations Environment Programme&nbsp;<a href="http://unep.org/">(UNEP)</a></p>
					<p>
						<a href="/subnational/partners-and-initiatives/un-habitat">United Nations Human Settlements Programme&nbsp;(UN-HABITAT)</a></p>
					<p>
						Food and Agriculture Organization (<a href="http://www.fao.org/">FAO</a>)</p>
					<p>
						United Nations University Institute of Advanced Studies&nbsp;<a href="http://www.ias.unu.edu/">UNU-IAS</a></p>
					<p>
					UNEP/CBD Secretariat, as a coordinator</p>
					<p>
					International Union for Conservation of Nature (<a href="http://www.iucn.org/">IUCN</a>)</p>
			    </div>
			</div>
		</div>
	</div>

	<div class="col-xs-3">
		<div class="eventsLists"></div>
	</div>

</div>
