<div class="row hidden-xs">
    <div class="col-lg-12">      
        <ol class="breadcrumb">
            <li><a href="/subnational">Home</a></li>
            <li><a href="/subnational/partners-and-initiatives">Partners & Initiatives</a></li>
            <li class="active">Stockholm Resilience Centre</li>
        </ol>
    </div>
</div>  

<div class="row" ng-controller="PartnersAndInitiativesPageController">
  <div class="col-sm-9">
    <h1>
        Stockholm Resilience Centre
    </h1>
    <h2>
        About the Stockholm Resilience Centre
    </h2>
    <img alt="" src="/subnational/app/img/src.png" style="width: 200px; height: 150px; padding:0 10px; float: right; " /><br />
    <p>
        Stockholm Resilience Centre is an international research partner which provides scientific insights on the interactions between humans and nature. It departs from an ambition to better understand the profound imprint humans have on nature and ideas on how to deal with the resulting challenges through enhancing social-ecological resilience. One strategic area of research is urban social-ecological systems, looking at how cities can better integrate biodiversity and ecosystem services into their planning and management.
    </p>
    <p>
        The centre also helps facilitate dialogues with policymakers and practitioners from all over the world, and contribute with innovative ideas to improve collaboration and learning between stakeholders at local, regional and national level. It has a particularly respected role as a facilitator for dialogue in the areas of governance and sustainable use of biodiversity in both a rural and urban context.
    </p>
    <h2>
        Learn More
    </h2>
    <ul>
        <li><a href="http://www.stockholmresilience.org/" target="_blank">Visit the website of the Stockholm Resilience Centre</a></li>
        <li><a href="http://www.stockholmresilience.org/news" target="_blank">Read the latest news &nbsp;</a></li>
        <li><a href="http://www.stockholmresilience.org/subscribe" target="_blank">Subscribe to the monthly newslett</li>
    </ul>
  </div>
  <div class="col-sm-3">
    <div class="eventsLists"></div>
  </div>
</div>