<div class="row hidden-xs">
    <div class="col-lg-12">    
        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li><a href="/partners-and-initiatives">Partners & Initiatives</a></li>
          <li class="active">UN Habitat</li>
        </ol>
    </div>
</div>  

<div class="row" ng-controller="PartnersAndInitiativesPageController">
  <div class="col-sm-9">
    <h1>
        UN-HABITAT
    </h1>
    UN-HABITAT is an active member of the CBD&nbsp;<span style="color: rgb(51, 51, 51); font-family: sans-serif; font-size: 12.222222328186035px; line-height: 17.98611068725586px;">Global Partnership on Local and Subnational Action for Biodiversity</span>&nbsp;since 2007
    
    <p>
    Amongst other activities, UN-HABITAT and the CBD Secretariat worked together to develop <em><a href="http://www.unhabitat.org/pmss/listItemDetails.aspx?publicationID=3135">Supporting Local Action for Biodiversity: the Role of National Governments</a> . The publication </em>was conceived to assist CBD national focal points as well as other departments or ministries involved in areas that influence environmental and biodiversity management and protection such as housing, land-use development, transportation, finance and so on to encourage and support the critical contribution of local &nbsp;authorities in implementing the CBD. To achieve this, <em>Supporting Local Action for Biodiversity: the Role of National Governments </em>presents biodiversity decision-makers at the national level with practical information and advice on how to support and encourage biodiversity action at the local level.
    </p>
    <p>
    <em>Supporting Local Action for Biodiversity: the Role of National Governments </em>is intended to complement the publication entitled <em>Local Action for Biodiversity Guidebook: Biodiversity Management for Local Governments</em>, which was produced by <a href="/partners-and-initiatives/iclei">ICLEI</a> and <a href="http://www.iucn.org/">IUCN</a>, also members of the Global Partnership on Cities and Biodiversity, under their Local Action for Biodiversity (LAB) Programme. That publication is designed to help practitioners working at the local level to improve the way in which biodiversity is managed within and beyond their jurisdictions.
    </p>
    <p>
    In May 2012, UN-Habitat and the Network of Regional Governments for SustainableDevelopment (<a href="/partners-and-initiatives/nrg4sd">nrg4SD</a>) held an expert group meeting in Barcelona on landscape connectivity and city&ndash;region planning at the Hospital de la Santa Creu i Sant Pau. For more information on the outcomes of the meeting, consult: <a href="http://dx.doi.org/10.1080/18626033.2012.746099">Andrew Rudd (2012): Landscape Connectivity and City-Region Planning, Journal of Landscape Architecture, 7:2, 90-90</a> as well as the videos of the lectures by <a href="http://www.youtube.com/watch?v=UHGnHAvvbkE&amp;list=PL2BMT1wy-HDUSE3zlmh1ctTXw0fD5Ke1e">Richard Forman</a>, <a href="http://www.youtube.com/playlist?list=PL2BMT1wy-HDXtvbvgqPlxynXTDBdGcl5A">Jochen Jäger</a> and <a href="http://www.youtube.com/watch?v=pfjwQl0RP5U&amp;list=PL2BMT1wy-HDUaM6nEvzVh8Z65HeEDRS0N">Rob McInnes</a> on UN-Habitat&#39;s YouTube channel.
    </p>
  </div>
  <div class="col-sm-3">
    <div class="eventsLists"></div>
  </div>
</div>