<div class="row hidden-xs">
    <div class="col-lg-12">
		<ol class="breadcrumb">
		  <li><a href="/subnational">Home</a></li>
		  <li class="active">Events</li>
		</ol>
	</div>
</div>
<div class="row" ng-controller="EventsPageController">
	<div class="col-xs-12">
	<h1>Events</h1>
	<div class="panel-group" id="accordion">
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
	          Upcoming Events
	        </a>
	      </h4>
	    </div>
	    <div id="collapseOne" class="panel-collapse collapse in">
	      <div class="panel-body">
	        <ul>
			    <li>
			        Ecological Footprint and Land-Use Planning (title to be confirmed): a meeting of Subnational Goverments for Biodiversity &raquo;, Catalonia, Spain, June 2013. Organized by the Catalan Government in collaboration with CBD Secretariat.
			    </li>
			</ul>
			<ul>
			    <li>
			        MITIN: Biodiversity in the Gulf of Mexico (title to be confirmed)&raquo;, 29th July &ndash; 2nd August 2013, Veracruz, Mexico. Organized by the State of Veracruz and Minister of Environment of Mexico.&nbsp;
			    </li>
			</ul>
			<ul>
			    <li>
			        ICLEI BiodiverCities conference linked to its Local Action on Biodiversity programme (LAB) &raquo;, September 9-12, 2013, Joondalup, Australia
			    </li>
			</ul>
	      </div>
	    </div>
	  </div>

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
	          Past Events
	        </a>
	      </h4>
	    </div>
	    <div id="collapseTwo" class="panel-collapse collapse">
	      <div class="panel-body">
			<ul>
				<li>
					Mediterranean Biodiversity Network. From ecological urban planning to management in the Mediterranean &ndash; subnational cooperation and knowledge transfer. Sarajevo, Bosnia &amp; Herzegovina, 15-17 May 2013, City of Sarajevo, Bosnia and Herzegovina, 15-17 May 2013. Hosted by the Canton of Sarajevo in partnership with the CBD Secretariat, the City of Montpellier and ICLEI &ndash; Local Governments for Sustainability</li>
				<li>
					Meeting of the Advisory Committee of Cities of the Global Partnership on Local and Sub-national Action for Biodiversity. Urban Biodiversity - A Value to Appreciate: a workshop on ecosystem valuation including a meeting on the Implementation of the Plan of Action on Sub-National Governments, Cities and Other Local Authorities for Biodiversity 2011-2020&raquo; Montreal, Canada, 21-23 May 2013. Organized by the City of Montreal in collaboration with CBD Secretariat.</li>
				<li>
					<a href="http://www.wrf12.org/dct/page/1">The World Resources Forum 2012</a>,&nbsp;Beijing, China,&nbsp;21-23 October 2012</li>
				<li>
					<a href="http://www.cbd.int/cop11/">CBD COP 11&nbsp;</a>,&nbsp;Hyderabad, India,&nbsp;08-19 October 2012</li>
				<li>
					<a href="http://www.iclei.org/index.php?id=12864">Cities for Life: Cities and Subnational Governments Biodiversity Summit</a>,&nbsp;Hyderabad, India,&nbsp;15-16 October 2012</li>
				<li>
					<a href="http://www.hss.iitb.ac.in/urbio2012/">3rd International conference of Urban Biodiversity and Design - URBIO 2012</a>,&nbsp;Mumbai, India,&nbsp;08-12 October 2012</li>
				<li>
					Xiamen Forum on Ecosystem Management and Green Economy, 06 September 2012, Xiamen, China</li>
				<li>
					IUCN World Conservation Congress 2012, 06-15 September 2012, Jeju, Korea</li>
				<li>
					Nature Workshop Belo Horizonte, 12-14 June 2012, Brazil</li>
				<li>
					<a href="http://www.iclei.org/index.php?id=12137">ICLEI World Congress, 14-18 June 2012, Belo Horizonte, Brazil</a></li>
				<li>
					<a href="http://www.earthsummit2012.org/">Earth Summit, Rio +20, 20-22 June 2012, Rio de Janeiro, Brazil</a></li>
				<li>
					<a href="http://www.worldcities.com.sg/">World City Summit 2012, 01-04 July 2012, Singapore</a></li>
				<li>
					<a href="http://www.cbd.int/authorities/importantevents/curitiba.2012.shtml">Meeting of Subnational Governments in support of the Aichi Biodiversity Targets, 24 - 27 April 2012, Parque do Barigui, Curitiba, Brazil</a></li>
				<li>
					<a href="http://www.cbd.int/authorities/importantevents/nagoya2012.shtml">Third Meeting on the Implementation of the Plan of Action -Including a Meeting of the Advisory Committee of Cities and the Global Partnership on Local and Sub-National Action for Biodiversity, 21-23 March 2012, Nagoya, Japan</a></li>
				<li>
					<a href="http://www.natureparif.fr/attachments/forumdesacteurs/Rencontres/rencontre-politiques-urbaines-et-biodiversite-programme-24_01_2012_.pdf">Meeting of Cities for Biodiversity (Natureparif, Association des Maires des Grandes Villes de France and IETF), 24 January, Paris, France</a></li>
				<li>
					<a href="http://www.cbd.int/doc/?meeting=IPA-SNGCOLA-01">Mediterranean Regional Workshop for Biodiversity Strategies and Action Plans: Coordinating Local and National Action in the Mediterranean Basin, Montpellier, France, from 17 to 19 January 2012</a></li>
				<li>
					Third Workshop on the Development of the City Biodiversity Index, October 2011, Singapore. <a href="http://www.cbd.int/doc/?meeting=EWDCBI-03">Meeting documents.</a></li>
				<li>
					Second Meeting on the Implementation of the Plan of Action on Sub-National Governments, Cities and Other Local Authorities on Biodiversity 2011-2010, Meeting of the Advisory Committee of Cities and the Global Partnership on Local and Sub-national Action for Biodiversity, Septmeber 2011, Bonn, Germany. Documents: <a href="http://www.cbd.int/authorities/doc/Bonn September 2011/09-02 Press Release Global Partnership on Local and Sub-national Action for Biodiversity.pdf">Bonn Press release - 6 September 2011</a>, <a href="http://www.cbd.int/doc/press/2011/pr-2011-09-15-gcbo-en.pdf">CBD Press release - 15 September 2011</a>. <a href="http://www.cbd.int/authorities/informationresources.shtml">Presentations and other relevant documents</a></li>
				<li>
					The First Meeting on the Implementation of the Plan of Action on Sub-National Governments, Cities and Other Local Authorities on Biodiversity was held in Montpellier, France, on 17-19 January 2011</li>
				<li>
					Skyrise Greenery Conference 2010, Singapore <b>1-3 November 2010</b>. Visit the <a href="http://www.skyrisegreenery.com/conference">Conference web site.</a></li>
				<li>
					City Biodiversity Summit 2010, Nagoya, Aichi Prefecture, Japan, <b>October 24-26, 2010</b></li>
				<li>
					<a href="http://cis.danbif.dk/neobiota2010">NEOBIOTA 2010 Conference</a>:&quot;Biological Invasions in a Changing World - from Science to Management&quot;. Copenhagen, Denmark, <b>14-17 September 2010</b></li>
				<li>
					Launching events of the TEEB D2 report: A series of simultaneous launch events and workshops were held to celebrate the release of the report in the following 4 cities worldwide: Ghent (Belgium), Curitiba (Brazil), Cape Town (South Africa) and New Delhi (India). <b>9 September 2010</b></li>
				<li>
					<a href="http://biodivercities.net/">BiodiverCities 2010</a>, in Paris, France, <b>September 6-8, 2010</b></li>
				<li>
					<a href="http://www.expo2010china.com/expo/expoenglish/index.html">The World Expo 2010</a>, in Shanghai, China. <b>From May 1st to October 31st 2010</b></li>
				<li>
					Second Expert Workshop on the Development of the City Biodiversity Index (CBI), meeting documents are available <a href="http://www.cbd.int/doc/?meeting=EWDCBI-02"><b>here</b></a>. Singapore, Singapore, <b>1-3 July 2010</b></li>
				<li>
					World City Summit &amp; Centre for Urban Greenery and Ecology (CUGE) Conference, Singapore, <b>30 June - 1 July 2010</b></li>
				<li>
					Second International Conference of Urban Biodiversity and Design (URBIO 2010), Nagoya, Japan, 18-22 May 2010. Read the <a href="http://www.jilac.jp/URBIO2010/lib/exe/fetch.php?media=urbio2010_proceedings.pdf">Proceedings of the meeting</a></li>
				<li>
					<a href="http://www.iclei.org/index.php?id=10242">Resilient Cities 2010</a>. ICLEI - Local Governments for Sustainability and the City of Bonn organized the &quot;1st World Congress on Cities and Adaptation to Climate Change&quot; in Bonn, Germany, <b>28-30 May 2010</b></li>
				<li>
					Cities, Local Authorities and Biodiversity Side Event at WGRI 3. The Global Partnership on Cities and Biodiversity held a side event to the third meeting of the Ad Hoc Open-ended Working Group on Review of Implementation of the Convention (WGRI 3) in Kenya, Nairobi. <b>May 26, 2010</b></li>
				<li>
					<a href="http://www.jilac.jp/URBIO2010/doku.php">The 2nd International Conference of Urban Biodiversity &amp; Design (URBIO2010) </a>. URBIO is an open worldwide scientific network for education and research with the aim to promote urban biodiversity through a continuing dialogue with the CBD and its initiative on &ldquo;Cities and Biodiversity&rdquo;. The conference participants adopted <a href="http://www.cbd.int/authorities/doc/NagoyaDeclaration-URBIO-2010.pdf">&quot;The Nagoya Declaration - URBIO 2010&quot;</a> to deliver the conference outcomes and their commitments to contribute to the future of urban biodiversity. Nagoya, Japan <b>May 18-22, 2010</b></li>
				<li>
					The Secretariat participated in the Montreal Summit on Biodiversity and Greenery, organized by the Montreal Regional Council for the Environment -Conseil regional de l&#39;Environnement de Montreal, <b>27- 28 April 2010</b>. For more details visit: <a href="http://www.cremtl.qc.ca/sommet-biodiversite-montreal">Sommet sur la biodiversité et le verdissement de Montréal</a></li>
				<li>
					The Secretariat participated in the <a href="http://www.unhabitat.org/categories.asp?catid=584">WORLD URBAN FORUM 5</a>, Rio de Janeiro, Brazil. The theme for Rio 2010, The right to the City &ndash; bridging the urban divide is in harmony with UN-HABITAT&rsquo;s flagship report, State of the World&rsquo;s Cities 2010-2011. <b>March 22-26, 2010</b></li>
				<li>
					Meeting of the <a href="http://www.cbd.int/authorities/Gettinginvolved/GlobalPartnership.shtml">Global Partnership on Cities and Biodiversity</a>. Curitiba, 6-7 January 2010, followed on 8 January by Celebrations of the launch of the <a href="http://www.cbd.int/2010">International year of Biodiversity</a>. You will find the meeting documents <a href="http://www.cbd.int/doc/?meeting=MAYORS-02">here</a></li>
				<li>
					UNFCCC COP15 Copenghagen - 9 December 2009: ICLEI - Local Governments for Sustainability held a panel on &quot;Biodiversity and Climate Change: NOW is the time to make the connections at all levels&quot;. The Secretariat is invited to make a presentation on &quot;Cities and Local authorities at the CBD&quot; as part of the panel.</li>
			</ul>
	      </div>
	    </div>
	  </div>

	</div>
</div>