<div class="row hidden-xs">
    <div class="col-lg-12">  	
	    <ol class="breadcrumb">
	      <li><a href="/subnational">Home</a></li>
	      <li><a href="/subnational/resources">Resources</a></li>
	      <li class="active">Additional Information</li>
	    </ol>
    </div>
</div>
<div class="row" ng-controller="ResourcesPageController">
	<div class="col-sm-9">
		<h1>
		    Additional Information on Local Authorities and Biodiversity
		</h1>
		    <a href="http://www.slideshare.net/mattdias/local-governments-and-protected-areas-barborak-and-sever">Presentation by Colorado State University specialists on the contribution of local authorities to the CBD Programme of Work on Protected Areas, September 2010</a><br /><br />
		<p>
		    In December 2009, at UNFCCC COP15 in Copenhagen: <a href="http://www.cbd.int/doc/groups/cities/lab-press-release-copenhagen-en.pdf" target="_self">Press release by ICLEI on the &quot;Biodiversity and Climate Change&quot; panel</a> and <a href="http://www.cbd.int/doc/groups/cities/cbd-presentation-iclei-copenhagen-en.pdf" target="_self">the presentation made by the CBD Secretariat</a> at the panel.
		</p>
		<p>
		    <a href="http://www.cbd.int/doc/groups/cities/lab-resolution-en.pdf" target="_self">ICLEI Council resolution on Local Action for Biodiversity (LAB) initiative</a>, at ICLEI World Congress 2009: ICLEI adopted the Local Action for Biodiversity (LAB) Initiative as a global ICLEI Programme
		</p>
		<p>
		    <a href="http://www.cbd.int/doc/groups/cities/nordic-nature-en.pdf" target="_self">The project &quot;Nordic Nature &ndash; trends towards 2010&quot;</a> is to identify trends and status of the biological diversity in the Nordic countries towards 2010.
		</p>
		<p>
		    <a href="http://www.greenkeys-project.net/en/home.html">The manual GREENKEYS @ YOUR CITY &ndash; A GUIDE FOR URBAN GREEN QUALITY</a>
		</p>
		<p>
		    <a href="http://www.bfn.de/0322_veroe0.html">&quot;Review and Bibliography on Cities and Biodiversity&quot; </a>: The updated version by Peter Werner and Rudolf Zahner
		</p>
		<p>
		    <a href="http://www.cbd.int/doc/groups/cities/promoting-nbua-summary-2009-01-19-en.pdf" target="_self">Promoting the Protection of Nature and Biodiversity in Urban Areas: European Capital of Nature and Biodiversity - Award for Cities and Municipalities in Europe 2009-2011</a>, project summary prepared by Elisa Calcaterra, IUCN, Countdown 2010 Secretariat.
		</p>
		<p>
		    Launch of the <a href="http://www.countdown2010.net/article/iucn-world-conservation-congress-witnesses-launch-of-the-global-partnership-on-cities-and-biodiversity">Global Partnership on Cities and Biodiversity</a>, IUCN World Conservation Congress, October 2008.
		</p>
		<p>
		    <a href="http://www.cbd.int/convention/about.shtml" target="_self">About the Convention</a>: general information on biodiversity and the CBD
		</p>
		<p>
		    <a href="http://www.cbd.int/2010-target/default.shtml" target="_self">About the 2010 biodiversity target</a>: general information
		</p>
		<p>
		    <a href="http://www.cbd.int/doc/speech/2008/sp-2008-10-06-habitat-en.pdf" target="_self">Message</a>: from Executive Secretary, Ahmed Djoghlaf, on the occasion of World Habitat Day, Barcelona, 6 October 2008
		</p>
		<p>
		    <a href="http://www.cbd.int/doc/speech/2008/sp-2008-06-24-wcs-en.pdf" target="_self">Statement</a>: by Executive Secretary, Ahmed Djoghlaf, on the occasion of the World Cities Summit, Singapore, 23-25 June 2008
		</p>
		<p>
		    <a href="http://www.cbd.int/doc/press/2008/pr-2008-06-25-wcs-en.pdf" target="_self">Press release</a>: Engaging Cities of the World in the Battle for Life on Earth, Montreal 25 June 2008.
		</p>
		<p>
		    <a href="http://www.cbd.int/doc/meeting.aspx?mtg=MAYORS-01" target="_self">Official documents</a> of the meeting on &quot;Cities and Biodiversity: Achieving the 2010 Biodiversity Target&quot;
		</p>
		<p>
		    <a href="http://www.cbd.int/doc/press/2008/pr-2008-05-26-cities-en.pdf" target="_self">Press release</a>: Urban Biodiversity and the Role of Cities in Biodiversity Conservation and Sustainable Use discussed at Bonn Biodiversity Conference, Bonn, 26 May
		</p>
		<p>
		    <a href="http://www.iclei.org/fileadmin/template/project_templates/LAB-bonn2008/user_upload/files/Urbio2008_ErfurtDeclaration.pdf">The Erfurt Declaration - Urbio 2008</a>: This declaration was submitted during the International Conference of the COmpetence NeTwork URban ECcology (CONTUREC) &ldquo;Urban biodiversity and design &ndash; Implementing the Convention on Biological Diversity in towns &amp; cities&rdquo; 21. - 24. May 2008, Erfurt, Germany
		</p>
		<p>
		    <a href="http://www.cbd.int/doc/others/cities-collaboration-areas-en.pdf" target="_self">Areas of Collaboration</a>: ideas that emerged from the discussions in Working Groups during the meeting on &quot;Cities and Biodiversity: Achieving the 2010 Biodiversity Target&quot;.
		</p>
		<p>
		    <a href="http://www.cbd.int/doc/meetings/biodiv/mayors-01/mayors-01-declaration-en.pdf" target="_self">Curitiba Declaration</a> (<a href="http://www.cbd.int/doc/meetings/biodiv/mayors-01/mayors-01-declaration-en.pdf" target="_self">English, </a><a href="http://www.cbd.int/doc/meetings/biodiv/mayors-01/mayors-01-declaration-fr.pdf" target="_self">French</a> and <a href="http://www.cbd.int/doc/meetings/biodiv/mayors-01/mayors-01-declaration-es.pdf" target="_self">Spanish</a>) on Cities and Biodiversity
		</p>
		<p>
		    <a href="http://www.cbd.int/doc/press/2007/pr-2007-03-28-mayors-en.pdf" target="_self">Press release</a>: Engaging the Cities of the World in the Battle for Life on Earth, 28 March 2007
		</p>
		<p>
		    <a href="http://www.cbd.int/doc/speech/2007/sp-2007-08-28-montreal-fr.pdf" target="_self">Intervention</a> du Docteur Ahmed Djoghlaf, Secrétaire exécutif de la Convention sur la diversité biologique, à la réunion du Groupe de travail sur l&rsquo;environnement et le développement durable de la Conférence des élus de Montréal. Montréal, 28 août 2007.
		</p>
		<p>
		    <a href="http://www.cbd.int/doc/speech/2007/sp-2007-03-26-mayors-en.pdf" target="_self">Statement</a> by Ahmed Djoghlaf, Executive Secretary of the CBD, at the opening of the meeting on &quot;Cities and biodiversity: Achieving the 2010 Biodiversity target&quot;, Curitiba, Brazil, 26 March 2007
		</p>
		<p>
		    <a href="http://www.cbd.int/doc/presentations/cities/mayors-01/mayors-01-children-en.pdf" target="_self">Commitment letter</a> from the Children of Curitiba adressed to the Mayor of Curitiba, the Executive Secretary of the CBD, and to all citizens of Curitiba, Brazil
		</p>
		<p>
		    <a href="http://www.cbd.int/doc/speech/2006/sp-2006-09-29-habitat-en.pdf" target="_self">Message</a> of Dr. Ahmed Djoghlaf, Executive Secretary of the Convention on Biological Diversity, on the Occasion of the World Habitat Day, 2 October 2006
		</p>
		<p>
		    <a href="http://www.cbd.int/doc/speech/2006/sp-2006-03-17-local-en.pdf" target="_self">Message</a>
		</p>
	</div>
    <div class="col-sm-3">
        <div class="eventsLists"></div>
    </div>	
</div>