<div class="row hidden-xs">
    <div class="col-lg-12">     
        <ol class="breadcrumb">
              <li><a href="/subnational">Home</a></li>
              <li><a href="/subnational/resources">Resources</a></li>
              <li class="active">Presentations</li>
        </ol>
    </div>
</div>
<div class="row" >
    <div class="col-sm-9" ng-controller="ResourcesPageController">
        <h2>
            Presentations and relevant information relative to the Second Meeting on the Implementation of the Plan of Action on Subnational Governments, Cities and Other Local Authorities on Biodiversity, Bonn, Germany, 5-6 September 2011
        </h2>
        <h5>
            Presentations
        </h5>
        <ul>
            <li>
                <a href="http://www.cbd.int/authorities/doc/Presentation-LenaChan-CBI.pdf">The Singapore Index On Cities&rsquo; Biodiversity&nbsp;</a>, Dr. Lena Chan, National Biodiversity Centre, National Parks Board Singapore
            </li>
            <li>
                <a href="http://www.cbd.int/authorities/doc/PresentationsBonnMeeting/Hillel.pdf">CBD Plan of Action on Subnational Governments, Cities and other Local Authorities-Status and perspectives for implementation</a>, Kobie Brand, ICLEI &ndash; CBC; Oliver Hillel, Secretariat of the CBD
            </li>
            <li>
                <a href="http://www.cbd.int/authorities/doc/PresentationsBonnMeeting/Hohn-Berghorn.pdf">Project Partnerships of Bonn</a>&nbsp;Maria Hohn-Berghorn, City of Bonn, Germany
            </li>
            <li>
                <a href="http://www.cbd.int/authorities/doc/PresentationsBonnMeeting/Bernal.pdf">Biodiversity in Cities &ndash; A Biodiversity Exhibition Project Among Leader Cities</a>&nbsp;Dr. José Bernal Stoopen, Secretaría del Medio Ambiente, Gobierno de la Ciudad de México
            </li>
            <li>
                <a href="http://www.cbd.int/authorities/doc/PresentationsBonnMeeting/Krishna Babu.pdf">Welcome to Participants</a>&nbsp;Krishna Babu, Greater Hyderabad Municipal Corporation, India
            </li>
            <li>
                <a href="http://www.cbd.int/authorities/doc/PresentationsBonnMeeting/Laros.pdf">TEEB Manual for Cities: Ecosystem Services in Urban Management</a>&nbsp;Marlene Laros, ICLEI-Cities Biodiversity Centre, South Africa
            </li>
            <li>
                <a href="http://www.cbd.int/authorities/doc/PresentationsBonnMeeting/Brand_ICLEI.pdf">BiodiverCities Programme</a>&nbsp;Kobie Brad, ICLEI
            </li>
            <li>
                <a href="http://www.cbd.int/authorities/doc/PresentationsBonnMeeting/Mattar.pdf">Biodivercities</a>&nbsp;Guilherme Mattar, Sao Paolo, Brazil
            </li>
            <li>
                <a href="http://www.cbd.int/authorities/doc/PresentationsBonnMeeting/Renaud.pdf">Contribution to the Panel Discussion &ldquo;Dialogue with other International Organisations&rdquo;</a>&nbsp;Fabrice Renaud, UNU, Germany
            </li>
            <li>
                <a href="http://www.cbd.int/authorities/doc/PresentationsBonnMeeting/Chan.pdf">The Singapore Index On Cities&rsquo; Biodiversity</a>&nbsp;Dr. Lena Chan, National Biodiversity Centre, National Parks Board Singapore
            </li>
            <li>
                <a href="http://www.cbd.int/authorities/doc/PresentationsBonnMeeting/Elmqvist_CBO.pdf">Cities And Biodiversity Outlook I, A Global Assessment Of The Links Between Urbanization, Biodiversity And Ecosystem Services</a>, Thomas Elmqvist, Stockholm resilience Centre, Stockholm University
            </li>
            <li>
                <a href="http://www.cbd.int/authorities/doc/PresentationsBonnMeeting/Giboudeaux.pdf">Decentralised Cooperation of Paris- Algiers- Phnom Penh</a>&nbsp;Fabienne Giboudeaux, City of Paris, France
            </li>
            <li>
                <a href="http://www.cbd.int/authorities/doc/PresentationsBonnMeeting/Roberts.pdf">Working towards a win-win-win scenario in Durban: Green economy - climate change adaptation - biodiversity protection</a>&nbsp;Dr Debra Roberts, EThekwini Municipality, Durban, South Africa
            </li>
            <li>
                <a href="http://www.cbd.int/authorities/doc/PresentationsBonnMeeting/Rudd.pdf">UN-HABITAT, project examples and perspectives</a>&nbsp;Andrew Rudd, UN-HABITAT, Nairobi, Kenya
            </li>
            <li>
                <a href="http://www.cbd.int/authorities/doc/PresentationsBonnMeeting/Steinsmeier.pdf">Lifeweb Project La Paz</a>&nbsp;Ariane Steinsmeier, The Nature Conservancy Steinsmeier.pdf
            </li>
            <li>
                <a href="http://www.cbd.int/authorities/doc/PresentationsBonnMeeting/von Houwald.pdf">Biodiversity and Agriculture</a>&nbsp;Dr Edelgard Von Houwald, German federal Ministry of Food, Agriculture and Consumer Protection, Germany
            </li>
        </ul>
        <h5>
            Relevant documents/announcements
        </h5>
        <ul>
            <li>
                <a href="http://www.cbd.int/authorities/doc/Bonn September 2011/Programme GPM kurz 110902.pdf">Programme of the Meeting</a>
            </li>
            <li>
                <a href="http://www.cbd.int/authorities/doc/Bonn September 2011/Participant List.pdf">List of participants</a>.
            </li>
            <li>
                <a href="http://www.cbd.int/authorities/doc/Bonn September 2011/URBIO2012_1st_announcement.pdf">URBIO 2012 Announcement</a>
            </li>
            <li>
                <a href="http://www.cbd.int/authorities/doc/Bonn September 2011/User's Manual-for-the-City-Biodiversity-Index27Sept2010.pdf">CBI User&#39;s Manual</a>
            </li>
            <li>
                <a href="http://www.cbd.int/authorities/doc/Bonn September 2011/Singapore Index on Cities' Biodiversity in 2 Jul 2009 issue of Nature letter.pdf">CBI in Nature, July 2009</a>.
            </li>
            <li>
                <a href="http://www.cbd.int/authorities/doc/Bonn September 2011/TEEB_Manual_for_Cities.pdf">TEEB Manual for Cities</a>
            </li>
            <li>
                <a href="http://www.cbd.int/authorities/doc/Bonn September 2011/Skript245.pdf">Biological Diversity and Cities A Review and Bibliography, Peter Werner und Rudolf Zahner</a>.
            </li>
            <li>
                <a href="http://www.cbd.int/authorities/doc/Bonn September 2011/Indicator_Report_2010_Web.pdf">Indicator Report 2010 to the National Strategy on Biological Diversity, Federal Ministry for the Environment, Nature Conservation and Nuclear Safety, Germany</a>.
            </li>
        </ul>
        <p>
            &nbsp;
        </p>
        <h2>
            Presentations and documents from the First Meeting on the Implementation of the Plan of Action on Subnational Governments, Cities and Other Local Authorities on Biodiversity 2011-2020, January 2011, Montpellier, France
        </h2>
        <p>
            The meeting report is available on the&nbsp;<a href="http://www.cbd.int/doc/?meeting=IPA-SNGCOLA-01">meeting&#39;s documents webpage</a>. You can also view the meeting&#39;s&nbsp;<a a="" href="http://www.cbd.int/authorities/doc/Montpellier-2011-01/PROJECT-FACTSHEET-en.doc" list="" of="">Project factsheet</a>&nbsp;provided in the meeting as well as pictures of&nbsp;<a a="" and="" href="http://www.cbd.int/authorities/importantevents/gallery2.shtml" of="" speakers="">objectives, theme clouds and ideas market</a>.
        </p>
        <h5>
            Presentations
        </h5>
        <ul>
            <li>
                <a href="http://www.cbd.int/authorities/doc/Montpellier-2011-01/Decade-intro-en.pdf">UN Decade on Biodiversity 2011-2020</a>
            </li>
            <li>
                <a href="http://www.cbd.int/authorities/doc/Montpellier-2011-01/Didier-Babin-SCBD-en.pdf">Workshop content</a>
            </li>
            <li>
                <a href="http://www.cbd.int/authorities/doc/Montpellier-2011-01/Jacques-Weber-CIRAD-en.pdf">Jacques Weber - CIRAD</a>
            </li>
            <li>
                <a href="http://www.cbd.int/authorities/doc/Montpellier-2011-01/Oliver-Hillel-SCBD-en.pdf">Plan of Action on Cities</a>
            </li>
        </ul>
        <h2>
            Presentations made during The Second Expert Workshop on the Development of the City Biodiversity Index (Singapore, July 2010)
        </h2>
        <ul>
            <li>
                <a href="http://www.cbd.int/authorities/doc/Brussels-CBI2.pdf">Brussels Capital Region, Belgium</a>
            </li>
            <li>
                <a href="http://www.cbd.int/authorities/doc/Curitiba-CBI2.pdf">City of Curitiba, Brazil</a>
            </li>
            <li>
                <a href="http://www.cbd.int/authorities/doc/Edmonton-CBI2.pdf">City of Edmonton, Canada</a>
            </li>
            <li>
                <a href="http://www.cbd.int/authorities/doc/Montreal-CBI2.pdf">City of Montreal, Canada</a>
            </li>
            <li>
                <a href="http://www.cbd.int/authorities/doc/Nagoya-CBI2.pdf">City of Nagoya, Japan</a>
            </li>
            <li>
                <a href="http://www.cbd.int/authorities/doc/Singapore-CBI2.pdf">Singapore</a>
            </li>
            <li>
                <a href="http://www.cbd.int/authorities/doc/Montpelier-CBI2.pdf">Montpelier, Vermont, USA</a>
            </li>
            <li>
                <a href="http://www.cbd.int/authorities/doc/ASEAN-Workshop-CBI2.pdf">Report on ASEAN Workshop on the City Biodiversity Index</a>
            </li>
        </ul>
        <h2>
            Presentations made during The Second Curitiba Meeting on Cities and Biodiversity (Curitiba, Brazil, January 2010)
        </h2>
        <ul>
            <li>
                Mr. Eric Blencowe, UK CBD Focal Point, Head, International Biodiversity Policy Unit:&nbsp;<a href="http://www.cbd.int/authorities/doc/mayors-02/Eric-Blencowe-en.pdf">The &ldquo;Biodiversity Duty&rdquo; (Natural Environment and Rural Communities Act 2006)</a>
            </li>
            <li>
                Ms. Moramay Navarro, UNESCO:&nbsp;<a href="http://www.cbd.int/authorities/doc/mayors-02/Moramay-Navarro-en.pdf">&ldquo;Fostering a Green Society through the URBIS Initiative&rdquo;</a>
            </li>
            <li>
                Mr. Augustin Berghöfer, Helmholtz Centre for Environmental Research UFZ, Leipzig, TEEB Scientific Coordination Team :&nbsp;<a href="http://www.cbd.int/authorities/doc/mayors-02/Augustin-Berghofer-en.pdf">&ldquo;TEEB &ndash; The Economics of Ecosystems and Biodiversity&rdquo;</a>
            </li>
            <li>
                Ms. Bonnie James, CBD National Focal Point for Canada :&nbsp;<a href="http://www.cbd.int/authorities/doc/mayors-02/Bonnie-James-en.pdf">&ldquo;Working Together to Sustain Urban Biodiversity and Enrich the Quality of Life in Cities&rdquo;</a>
            </li>
            <li>
                Mr. Andre Mader, ICLEI and Mr. Chikara Hombo, CBD Secretariat :&nbsp;<a href="http://www.cbd.int/authorities/doc/mayors-02/Andre-Madar-Chikara-Hombo-en.pdf">&ldquo;Guidebooks for biodiversity management: twin publications by ICLEI and the CBD Secretariat&rdquo;</a>
            </li>
            <li>
                Mr. Michael Delafosse and Mr Phillipe Croze, City of Montpellier, France:&nbsp;<a href="http://www.cbd.int/authorities/doc/mayors-02/Phillipe-Croze-en.pdf">&ldquo;Montpellier Cultivates Biodiversity&rdquo;</a>
            </li>
            <li>
                Mr. João Manuel Linck Feijó, Presidente da Associação Telhado Verde Brasil, Membro da World Green Infrastructure Network:&nbsp;<a href="http://www.cbd.int/authorities/doc/mayors-02/Joao-Manuel-Linck-Feijo-pt.pdf">&ldquo;Índice de Área Ecológica Efetiva&rdquo;</a>
            </li>
            <li>
                Ms. Karin Burhen, UN-Habitat:&nbsp;<a href="http://www.cbd.int/authorities/doc/mayors-02/Karin-Burhren-en.pdf">&ldquo;Sustainable Urban Development -Adequate shelter for all&rdquo;</a>
            </li>
            <li>
                Ms. Chantal Robichaud, CBD Secretariat:&nbsp;<a href="http://www.cbd.int/authorities/doc/mayors-02/Chantal-Robichaud-en.pdf">&ldquo;Integrating Biodiversity Considerations into Urban Infrastructure Development&rdquo;</a>
            </li>
            <li>
                Mr. Hélio Neves, City of Sao Paolo :<a href="http://www.cbd.int/authorities/doc/mayors-02/Helio-Neves-en.pdf">&ldquo;Cities And Biodiversity Local Initiatives-Sao Paolo&rdquo;</a>
            </li>
            <li>
                Mr. Peter Werner, Institute for Housing and Environment (IWU), Darmstadt, Germany, COmpetence NeTwork URban ECology &ndash; CONTUREC :&ldquo;Urbanites meet Urban Biodiversity - Case Studies from Germany&rdquo; (presentation not available on line. For further information please contact Mr Werner at p.werner@iwu.de)
            </li>
            <li>
                Mr. Jose Bernal, Director General, Dirección General de Zoológicos y Vida Silvestre, Secretaría del Medio Ambiente, Gobierno de la Ciudad de México: &ldquo;The Experience of Mexico City&rdquo;
            </li>
            <li>
                Ms. Irene Duarte and Mr. Edson Carvalho :&nbsp;<a href="http://www.cbd.int/authorities/doc/mayors-02/aulta-floresta-pt.pdf">&ldquo;Alta Floresta, Mato Grosso &ndash; Estratégia Para O Desenvolvimento Sustentável Da Amazônia&rdquo;</a>
            </li>
            <li>
                Ms. Malu Nunes, Executive Director of the Boticario Fundação:&nbsp;<a href="http://www.cbd.int/authorities/doc/mayors-02/Malu-Nunes-en.pdf">&ldquo;Oasis Project, Nature Conservation toward life protection&rdquo;</a>
            </li>
            <li>
                Ms. Wendy Yap, National Parks Board, Singapore:&nbsp;<a href="http://www.cbd.int/authorities/doc/mayors-02/Wendy-Yap-en.pdf">&ldquo;Singapore Index on Cities&rsquo;Biodiversity&rdquo;</a>
            </li>
            <li>
                Mr. Alfredo Trindade, City of Curitiba:&nbsp;<a href="http://www.cbd.int/authorities/doc/mayors-02/Curitiba-CBI-pt.pdf">&ldquo;Testing of the Singapore Index on Cities&rsquo; Biodiversity by the City of Curitiba&rdquo;</a>
            </li>
            <li>
                Mr. Masashi Kato, Adviser, Environmental Affairs Bureau, City of Nagoya: &ldquo;Testing of the index by the City of Nagoya&rdquo;
            </li>
            <li>
                Mr. Toshio Fujii, Secretary-General, Aichi-Nagoya COP10 CBD Promotion Committee presented&nbsp;<a href="http://www.cbd.int/authorities/doc/mayors-02/Fujii-aichi-en.pdf">&ldquo;COP10 Aichi-Nagoya Plan&rdquo;</a>
            </li>
            <li>
                Mr. Masashi Kato, Adviser, Environmental Affairs Bureau, City of Nagoya:&nbsp;<a href="http://www.cbd.int/authorities/doc/mayors-02/Kato-nagoya-en.pdf">&ldquo;Towards the City Biodiversity Summit 2010&rdquo;</a>
            </li>
            <li>
                Mr. Tadayoshi Inoue and Mr. Yukihiro Morimoto, Co-Chairs, Organizing Committee, URBIO 2010 International:&nbsp;<a href="http://www.cbd.int/authorities/doc/mayors-02/Yukihiro-Morimoto-Tadayoshi-Inoue-en.pdf">&ldquo;Urban Biodiversity &amp; Design&rdquo;</a>
            </li>
            <li>
                Ms. Chantal Robichaud, Programme Assistant, CBD Secretariat:&nbsp;<a href="http://www.cbd.int/authorities/doc/mayors-02/Chantal-Robichaud-IYB-en.pdf">&quot;International Year of Biodiversity&rdquo;</a>
            </li>
            <li>
                Mr. Miguel Milano, Board Vice Chair, Life Certification:&nbsp;<a href="http://www.cbd.int/authorities/doc/mayors-02/Miguel-Milano-en.pdf">&ldquo;Present situation and short term plans of Life Certification&rdquo;</a>
            </li>
        </ul>
        <h2>
            Presentations made during the meeting on &quot;Cities and Biodiversity: Achieving the 2010 Biodiversity Target&quot; (Curitiba, Brazil, March 2007)
        </h2>
        <ul>
            <li>
                AICHI, JAPAN:&nbsp;<a href="http://www.cbd.int/doc/presentations/cities/mayors-01/mayors-01-japan-01-en.pdf">Invitation from Aichi/Nagoya, Japan, to COP10 in 2010</a>
            </li>
            <li>
                BELO HORIZONTE, BRAZIL:&nbsp;<a href="http://www.cbd.int/doc/presentations/cities/mayors-01/mayors-01-brazil-01-pu.pdf">Cidades e Biodiversidade</a>
            </li>
            <li>
                BONN, GERMANY:&nbsp;<a href="http://www.cbd.int/doc/presentations/cities/mayors-01/mayors-01-germany-03-en.pdf">Local Action, Global Interaction: The New Bonn, Focus on Sustainability</a>
            </li>
            <li>
                CAPE TOWN, SOUTH AFRICA:&nbsp;<a href="http://www.cbd.int/doc/presentations/cities/mayors-01/mayors-01-southafrica-01-en.pdf">City of Cape Town</a>&nbsp;and&nbsp;<a href="http://www.cbd.int/doc/presentations/cities/mayors-01/mayors-01-southafrica-02-en.pdf">Reintroducing the extinct Cape Flats Erica (<i>Erica verticillata</i>): Bungy jumping on the brink of extinction...</a>
            </li>
            <li>
                COMPETENCE NETWORK URBAN ECOLOGY (CONTUREC), GERMANY:&nbsp;<a href="http://www.cbd.int/doc/presentations/cities/mayors-01/mayors-01-germany-01-en.pdf">Distinctive Characteristics of Urban Biodiversity</a>
            </li>
            <li>
                COUNTDOWN 2010, WORLD CONSERVATION UNION:&nbsp;<a href="http://www.cbd.int/doc/presentations/cities/mayors-01/mayors-01-iucn-en.pdf">Countdown 2010: The Role of Local Authorities</a>
            </li>
            <li>
                CURITIBA, BRAZIL:&nbsp;<a href="http://www.cbd.int/doc/presentations/cities/mayors-01/mayors-01-brazil-05-en.pdf">Programa Biodiversidade Urbana - Biocity</a>
            </li>
            <li>
                DURBAN, SOUTH AFRICA:&nbsp;<a href="http://www.cbd.int/doc/presentations/cities/mayors-01/mayors-01-southafrica-03-en.pdf">Ethekwini Environmental Services Management Plan (EESMP) - from Planning to Implementation: Protecting biodiversity in eThekwini Municipality</a>
            </li>
            <li>
                GOIANIA, BRAZIL:&nbsp;<a href="http://www.cbd.int/doc/presentations/cities/mayors-01/mayors-01-brazil-02-pu.pdf">Biodiversidade: Gerenciamento da Biodiversidade Urbana e Promoçao da Conscientizaçao da Biodiversidade em Communidades Urbanas</a>
            </li>
            <li>
                JOHANNESBURG, SOUTH AFRICA:&nbsp;<a href="http://www.cbd.int/doc/presentations/cities/mayors-01/mayors-01-southafrica-04-en.pdf">Presentation on Johannesburg&#39;s Biodiversity Programme</a>
            </li>
            <li>
                LOCAL ACTION FOR BIODIVERSITY:&nbsp;<a href="http://www.cbd.int/doc/presentations/cities/mayors-01/mayors-01-lab-en.pdf">Local Action for Biodiversity... enhancing urban nature through a global network of local governments</a>
            </li>
            <li>
                MONTREAL, CANADA:&nbsp;<a href="http://www.cbd.int/doc/presentations/cities/mayors-01/mayors-01-canadal-02-en.pdf">Managing Urban Biodiversity and Promoting Awareness of Biodiversity to Urban Communities</a>&nbsp;and<a href="http://www.cbd.int/doc/presentations/cities/mayors-01/mayors-01-canadal-01-en.pdf">The Montreal&#39;s Nature Museums: dedicated to the protection of biodiversity</a>
            </li>
            <li>
                NAGOYA, JAPAN:&nbsp;<a href="http://www.cbd.int/doc/presentations/cities/mayors-01/mayors-01-japan-02-en.pdf">Cities and Biodiversity: Achieving the 2010 Target, Managing Urban Biodiversity</a>
            </li>
            <li>
                NAIROBI, KENYA:&nbsp;<a href="http://www.cbd.int/doc/presentations/cities/mayors-01/mayors-01-kenya-en.pdf">Managing urban biodiversity in Kenya - Nairobi experience</a>
            </li>
            <li>
                PORTO ALEGRE, BRAZIL:&nbsp;<a href="http://www.cbd.int/doc/presentations/cities/mayors-01/mayors-01-brazil-04-pu.pdf">Iniciativas de Porto Alegre para Conservaçao da Diversidade Biologica</a>
            </li>
            <li>
                SAO PAULO, BRAZIL:&nbsp;<a href="http://www.cbd.int/doc/presentations/cities/mayors-01/mayors-01-brazil-03-pu.pdf">Preserving Biodiversity in Sao Paulo</a>
            </li>
            <li>
                UNITED NATIONS ENVIRONMENT PROGRAMME (UNEP):&nbsp;<a href="http://www.cbd.int/doc/presentations/cities/mayors-01/mayors-01-unep-en.pdf">Cities, Ecosystems and Biodiversity</a>
            </li>
        </ul>
	</div>
    <div class="col-sm-3">
        <div class="eventsLists"></div>
    </div>

</div>
