<div class="row hidden-xs">
    <div class="col-sm-12">     
        <ol class="breadcrumb">
            <li><a href="/subnational">Home</a></li>
            <li class="active">Resources</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Resources</h1>
    </div>
</div>
<div class="row" ng-controller="ResourcesPageController">
    <div class="col-sm-6">
    	<a href="/subnational/resources/decisions"><button type="button" class="btn btn-default btn-block well "><span style="color: #06C; font-weight:bold">Decisions</span></button></a>
    	<a href="/subnational/resources/documents" style="color: #06C"><button type="button" class="btn btn-default btn-block well "><span style="color: #06C; font-weight:bold">Documents</span></button></a>
        <a href="/subnational/partners-and-initiatives/cbo" style="color: #06C"><button type="button" class="btn btn-default btn-block well "><span style="color: #06C; font-weight:bold">Cities and Biodiversity Outlook</span></button></a>
	</div>
    <div class="col-sm-6">
        <a href="/subnational/resources/strategies-and-action-plans"><button type="button" class="btn btn-default btn-block well "><span style="color: #06C; font-weight:bold">Strategies and Action Plans</span></button></a>
        <a href="/subnational/resources/case-studies" style="color: #06C"><button type="button" class="btn btn-default btn-block well "><span style="color: #06C; font-weight:bold">Case Studies</span></button></a>
        <a href="/subnational/resources/additional-information" style="color: #06C"><button type="button" class="btn btn-default btn-block well "><span style="color: #06C; font-weight:bold">Additional Information</span></button></a>
    </div>
</div>
