<div class="row hidden-xs">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="/subnational">Home</a></li>
            <li class="active">Draft Guidelines</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h1>Review of draft guidelines to support the subnational implementation of national biodiversity strategies and action plans </h1>
        <div>
            <P>In <a href='https://www.cbd.int/decisions/?dec=XII/9'>decision XII/9</a>, the Conference of the Parties (COP) requested the Executive Secretary “to assist Parties and subnational and local governments, and their partners, to more effectively
                integrate the contribution of subnational and local governments to the implementation of the Strategic Plan for Biodiversity 2011-2020”. Subsequently, in <a href='https://www.cbd.int/doc/decisions/cop-13/cop-13-dec-01-en.pdf'>decision XIII/1</a>                the COP encouraged Parties “to facilitate the development by subnational governments, cities and other local authorities of subnational or local biodiversity strategies and action plans to contribute to the implementation of national biodiversity
                strategies and action plans and the Strategic Plan for Biodiversity 2011-2020, in keeping with <a href='https://www.cbd.int/decisions/?dec=X/12'>decision X/22<a/>,
								paragraph 2”. The COP also provided guidance to Parties for more effective engagement of subnational and local governments in <a href='https://www.cbd.int/doc/decisions/cop-13/cop-13-dec-03-en.pdf'>decision XIII/3</a>, paragraph 96.
            </p>
            <p>In an initiative supported by the Japan Biodiversity Fund, the Secretariat and ICLEI – Local Governments for Sustainability (ICLEI) have been cooperating on the development and dissemination of guidelines to support the subnational implementation
                of national biodiversity strategies and action plans, including by integrating strategies and action plans at different levels of government. In response to the Notifications 2015-075 and 2016-037, 60 respondents from 30 Parties offered
                input to the development of the guidelines. Furthermore, at the margins of the thirteenth meeting of the Conference of the Parties, ICLEI convened a consultation held on 9 December 2016 with 28 participants from 17 countries to review
                and gain feedback on the guidelines being developed.
            </p>
            <p>The guidelines are intended to assist Parties and their subnational and local governments in advancing the implementation of their national biodiversity strategies and action plans and in making best use of subnational government knowledge
                and capacity. They intend to be general and adaptable to suit different national circumstances and priorities, as well as different institutional and legal contexts.
            </p>
            <p>Against that background, we invite your review and comments on the draft document entitled: Guidelines for Subnational Implementation of NBSAPs: Coordination and cooperation in the collaborative development and implementation of biodiversity
                strategies and action plans across different levels of government. A companion document provides background on the methodology regarding the development of the guidelines.
            </p>
            <p>In addition to any specific comments on the draft, we would be grateful to receive your views or feedback on the following:
                <ol>
                    <li> Whether the Guidelines serve as a useful tool in providing guidance for subnational implementation and promoting the vertical integration of biodiversity strategies and action plans at different levels of government;
                    </li>
                    <li>Whether you are aware of any additional relevant resources and tools that could be drawn attention to in the guidelines, in which case we would be most grateful if you would provide us the details of such materials.
                    </li>
                </ol>
            </p>
            <p>We would be grateful to receive your comments by email to secretariat@cbd.int no later than 23 March 2017.
            </p>
            <p>
                <ul>
                    <li><a href='http://www.cbd.int/doc/groups/cities/subnational/draft-guidelines-nbsaps-en.docx'>Guidelines for Subnational Implementation of NBSAPs – EN</a></li>
                    <li><a href='http://www.cbd.int/doc/groups/cities/subnational/draft-companion-to-guidelines-en.docx'>Companion Volume to Guidelines – EN </a></li>
                </ul>
            </p>
        </div>
    </div>
</div>
