<script src="/app/views/home/about.html.js"></script>
<div class="row hidden-xs">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="\">Home</a></li>
            <li class="active">About</li>
        </ol>
    </div>
</div>
<div class="row" ng-controller="AboutPageController">
    <div class="col-lg-12">
        <h1>About Subnational and local authorities</h1>
        
            Subnational and local authorities are administrative units of an area smaller than a state. These governments are considered guardians of natural resources because they set local environment and development policy, are responsible for land-use planning, and develop and manage infrastructure that depend on and/or impact biodiversity, such as water and waste management systems.
        
        <h3>Background</h3>
        <p>
            Biodiversity is first and foremost a local issue. It is through our daily activities that we impact biodiversity and it is through local actions that the situation can be addressed most efficiently. Humankind depends on healthy ecosystems to survive, and producers and consumers at the local level can take direct action to protect these invaluable resources. 
        </p>
        <p>
            As of 2007, the Earth&rsquo;s population is mostly urban. At the same time, one of the world&rsquo;s most critical resources, biodiversity, is threatened as never before, with serious consequences for climate change, availability of water, food, and many
            other ecosystem services. A significant part of the activities leading to the achievement of Goal 7 of the&nbsp;<a href="http://www.un.org/millenniumgoals/">Millennium Development Goals</a>&nbsp;(environmental sustainability) will be played out
            in cities and urban environment, involving local governments, the private sector, non-governmental organizations and civil society as a whole.
        </p>
        <p>
            At the initiative of the Mayor of Curitiba, Mr. Carlos Alberto Richa, a meeting on&nbsp;<a href="http://www.cbd.int/doc/meeting.aspx?mtg=MAYORS-01">&quot;Cities and Biodiversity: Achieving the 2010 Biodiversity Target&quot;</a>&nbsp;was held on 26-28
            March 2007 in Curitiba, Brazil. Representatives of host cities of CBD COP meetings, representatives of host cities of UN chapters, and representatives of cities that have specific strategies with regard to biodiversity were invited to attend. Seventy
            participants, including 34 mayors and top city officials, attended this important event, and several case studies were presented. The&nbsp;<a href="http://www.cbd.int/doc/meetings/city/mayors-01/mayors-01-declaration-en.pdf">Curitiba Declaration on Cities and Biodiversity</a>&nbsp;(
            <a href="http://www.cbd.int/doc/meetings/city/mayors-01/mayors-01-declaration-en.pdf">English,</a><a href="http://www.cbd.int/doc/meetings/city/mayors-01/mayors-01-declaration-fr.pdf">French</a>&nbsp;and&nbsp;<a href="http://www.cbd.int/doc/meetings/city/mayors-01/mayors-01-declaration-es.pdf">Spanish</a>), which was adopted on the
            last day of the event, reaffirmed the urgency to engage local authorities in the implementation of the objectives of the Convention and its 2010 biodiversity target. In addition, the document announces the formation of a Steering Committee, comprising
            the City of&nbsp;<a href="http://www.cbd.int/doc/groups/cities/cities-2007-curitiba-en.pdf">Curitiba</a>&nbsp;(Brazil), the City of&nbsp;<a href="http://www.cbd.int/doc/groups/cities/cities-2007-montreal-en.pdf">Montreal</a>&nbsp;(Canada), the
            City of&nbsp;<a href="http://www.cbd.int/doc/groups/cities/cities-2007-bonn-en.pdf">Bonn</a>&nbsp;(Germany), the City of&nbsp;<a href="http://www.cbd.int/doc/groups/cities/cities-2007-nagoya-en.pdf">Nagoya</a>
        </p>
        <a name="ConferenceoftheParties" style="color: rgb(0, 102, 204); margin: 0px; padding: 0px; font-size: 12px;"></a>
        <h3>Conference of the Parties
        </h3>
        <a name="DecisionX22" style="color: rgb(0, 102, 204); margin: 0px; padding: 0px; font-size: 12px;"></a>
        <h4>Decision X/22
        </h4>
        <p>
            In 2010,&nbsp;<a href="http://www.cbd.int/doc/decisions/cop-10/cop-10-dec-22-en.doc">Decision X/22 and its annex The Plan of Action on Subnational Governments, Cities and Local Authorities on Biodiversity</a>&nbsp;was adopted by the tenth meeting
            of the Conference of the Parties in October, in Nagoya, Japan.
        </p>
        <p>
            Parallel, to COP 10, the City and Biodiversity Summit 2010 was held in Nagoya, Aichi Prefecture, Japan on 24 to 26 October 2010, with participation of more than 600 top executives including 240 mayors, governors, local government officials and heads of
            relevant organizations. The participants exchanged experiences on local biodiversity management and discussed the CBD plan of action on subnational and local governments. Their message, adopted as the Aichi/Nagoya Declaration on Local Authorities
            and Biodiversity at the summit closing plenary, was announced by Mayor Kawamura of Nagoya and Governor Kanda of Aichi Prefecture at the high-level segment of COP 10 on October 28, 2010, to share their commitment of implementing local biodiversity
            management to prevent the continuation of biodiversity loss and express their support to the adoption and implementation of the CBD plan of action on subnational and local governments. The city summit declaration is available in&nbsp;<a href="http://www.cbd.int/authorities/doc/CBS-declaration/Aichi-Nagoya-Declaration-CBS-en.pdf">English</a>&nbsp;(original),&nbsp;
            <a href="http://www.cbd.int/authorities/doc/CBS-declaration/Aichi-Nagoya-Declaration-CBS-fr.pdf">French,</a>&nbsp;<a href="http://www.cbd.int/authorities/doc/CBS-declaration/Aichi-Nagoya-%20Declaration-CBS-es.pdf">Spanish,</a>&nbsp;<a href="http://www.cbd.int/authorities/doc/CBS-declaration/Aichi-Nagoya-%20Declaration-CBS-ru.pdf">Russian,</a>&nbsp;
            <a href="http://www.cbd.int/authorities/doc/CBS-declaration/Aichi-Nagoya-Declaration-CBS-ar.pdf">Arabic,</a>&nbsp;<a href="http://www.cbd.int/authorities/doc/CBS-declaration/Aichi-Nagoya-%20Declaration-CBS-zh.pdf">Chinese,</a>&nbsp;and<a href="http://www.cbd.int/authorities/doc/CBS-declaration/Aichi-Nagoya-Declaration-CBS-jp.pdf">Japanese</a>&nbsp;versions.
            Additionally, you can check the presentations given at the city summit, by clicking&nbsp;<a href="http://www.cop10.jp/citysummit/english/2010_2.html">here</a>.
        </p>
        <p>
            Fore more information on the City Biodiversity Summit 2010, please go to the Aichi-Nagoya COP10 CBD Promotion Committee&#39;s&nbsp;<a href="http://www.cop10.jp/citysummit/english/index.html">webpage</a>.
        </p>
        <a name="DecisionIX28" style="color: rgb(0, 102, 204); margin: 0px; padding: 0px; font-size: 12px;"></a>
        <h4>Decision IX/28
        </h4>
        <p>
            At COP 9 in Bonn, Germany in May 2008, the Parties discussed the role of local authorities in the implementation of the Convention and for the first time ever adopted a decision on cities and biodiversity,&nbsp;<a href="http://www.cbd.int/doc/decisions/cop-09/cop-09-dec-28-en.pdf">Decision IX/28</a>.
            This decision encourages the 191 Parties to the Convention to recognize the role of cities in national strategies and plans, and invites Parties to support and assist cities in implementing the Convention at local level. Indeed, one of the greatest
            achievements of the ninth meeting of the Conference of the Parties is the recognition that the implementation of the three objectives of the Convention on Biological Diversity requires the full engagement of cities and local authorities.
        </p>
        <p>
            In addressing the participants in this historic event, Dr Ahmed Djoghlaf, the Executive Secretary of the Convention, stated that: &ldquo;While cities are today part of the problem of the current unprecedented loss of biodiversity, they are also part of
            the solution. Indeed, the fight for life on Earth will be won or lost in cities. The hearts of citizen must be won. Local authorities have a major role to play, as global change starts at the local level.&rdquo; A plan of action on cities and biodiversity
            will be submitted to the tenth meeting of the Conference of the Parties, to be held in Nagoya City, Aichi Prefecture, Japan, in October 2010, the International Year of Biodiversity. A Nagoya Summit on Cities and Biodiversity will be convened during
            the meeting.
        </p>
        <p>
            More on the engagement of cities can be read&nbsp;<a href="https://www.cbd.int/doc/press/2008/pr-2008-06-25-wcs-en.pdf">here</a>.
        </p>
        <a name="2010OntheRoadtoNagoya" style="color: rgb(0, 102, 204); margin: 0px; padding: 0px; font-size: 12px;"></a>
        <h3>2010: On the Road to Nagoya
        </h3>
        <p>
            The Second Curitiba Meeting on Cities and Biodiversity has taken place in Curitiba, Brazil, 6-7 January 2010, followed on 8 January by Celebrations of the start of the&nbsp;<a href="http://www.cbd.int/2010">International year of Biodiversity</a>.
            The meeting on cities and biodiversity was a major milestone for cities and local authorities in their preparations to the City Biodiversity Summit 2010 to take place in Nagoya, Japan, 24-26 October 2010. The event was organized in collaboration with
            the Ministry of Environment of Brazil and the City of Curitiba. For more information, you will find the meeting documents including the complete annotated agenda and report&nbsp;<a href="http://www.cbd.int/doc/?meeting=MAYORS-02">here</a>, and&nbsp;as
            of 27 January 2010&nbsp;the :&nbsp;<a href="http://www.cbd.int/authorities/doc/CBD%20Plan%20of%20Action_2010_01_draft.doc">Draft plan of action on cities, local authorities and biodiversity 2011-2020, including a Draft CBD Decision for COP 10 on Cities, Local Authorities and Biodiversity</a>&nbsp;.
        </p>
        <p>
            In the meeting, the declaration&nbsp;&quot;<a href="http://www.cbd.int/doc/meetings/city/mayors-02/official/mayors-02-declaration-en.pdf">Towards Aichi/Nagoya: Second Curitiba Declaration on Local Authorities and Biodiversity</a>&quot;&nbsp;was adopted.
            The declaration is also available in&nbsp;<a href="http://www.cbd.int/doc/meetings/city/mayors-02/official/mayors-02-declaration-ar.pdf">Arabic</a>,&nbsp;<a href="http://www.cbd.int/doc/meetings/city/mayors-02/official/mayors-02-declaration-zh.pdf">Chinese</a>,&nbsp;
            <a href="http://www.cbd.int/doc/meetings/city/mayors-02/official/mayors-02-declaration-fr.pdf">French</a>,&nbsp;<a href="http://www.cbd.int/doc/meetings/city/mayors-02/official/mayors-02-declaration-es.pdf">Spanish</a>&nbsp;and&nbsp;<a href="http://www.cbd.int/doc/meetings/city/mayors-02/official/mayors-02-declaration-ru.pdf">Russian</a>.
        </p>
    </div>
</div>
