<script src="/app/views/partners-and-initiatives/partners-and-initiatives.html.js"></script>
<div class="row hidden-xs">
    <div class="col-lg-12">  	
		<ol class="breadcrumb">
		  <li><a href="\">Home</a></li>
		  <li><a href="/partners-and-initiatives">Partners & Initiatives</a></li>
		  <li class="active">CBO</li>
		</ol>
	</div>
</div>	
<div class="row" ng-controller="PartnersAndInitiativesPageController">
	<div class="col-md-9">
		<h1>Launch of the Cities and Biodiversity Outlook</h1>
		<h3>08 &ndash; 19 October 2012, Hyderabad, India</h3>
		<p>
			By 2050, the world will have undergone the largest and fastest period of urban expansion in human history, having significant implications for biodiversity and ecosystems if current trends continue.</p>
		<p>
			Drawing on contributions from more than 120 scientists worldwide, the CBO states that over 60 percent of the land projected to become urban by 2030 has yet to be built. This presents a major opportunity to greatly improve global sustainability by promoting low-carbon, resource-efficient urban development that can reduce adverse effects on biodiversity and improve quality of life, it says. The CBO also demonstrates how subnational and local authorities can play a central role in achieving the Aichi Biodiversity Targets.</p>
		<p>
			The CBD Secretariat, the Stockholm Resilience Centre (SRC) and ICLEI are very proud to announce the launch of the first global assessment of urbanization, biodiversity and ecosystem services! You are all invited to join us in this celebration! Please see below the different occasions in which the CBO will be presented in at CBD COP 11.</p>
		<p><a href="cbo/related-activities.html">Click here to learn more about the Global Launch Event&nbsp;</a></p>
		<div class="row">		
			<div class="col-sm-5 col-sm-offset-1">
				<h2><a href="/cbo/cbo-action-and-policy-executive-summary.html">CBO&nbsp;- Action and Policy&nbsp;</a></h2>
				<p>
					<a href="/cbo/cbo-action-and-policy-executive-summary.html"><img alt="" src="/app/img/cbo-cover.jpg" style="width: 100px; height: 129px; float: left; margin: 0px 5px; " />Click here to read or download the CBO - Action and Policy</a>
				</p>
			</div>
			<div class="col-sm-6">
				<h2><a href="/cbo/cbo-scientific-analysis-and-assessment.html">CBO &nbsp;- Scientific Analysis and Assessment</a></h2>
				<p>
					<a href="/cbo/cbo-scientific-analysis-and-assessment.html">Click here to for the CBO - Scientific Analysis and Assessment</a>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h3>Video introduction to CBO</h3>
				<iframe allowfullscreen="" frameborder="0" height="349" mozallowfullscreen="" src="http://player.vimeo.com/video/42603843" webkitallowfullscreen="" width="620"></iframe>
			</div>
		</div>
	</div>
	<div class="col-md-3"> 
	    <div class="cboMenu"></div>
	</div>
</div>
