<div class="row hidden-xs">
    <div class="col-lg-12">    
        <ol class="breadcrumb">
            <li><a href="/subnational">Home</a></li>
            <li><a href="/subnational/partners-and-initiatives">Partners & Initiatives</a></li>
            <li><a href="/subnational/partners-and-initiatives/cbo">CBO</a></li>
            <li><a href="/subnational/partners-and-initiatives/cbo/overview">Overview</a></li>
            <li class="active">Advisory Committee</li>
        </ol>
    </div>
</div>  
<div class="row" ng-controller="PartnersAndInitiativesPageController">
  <div class="col-md-9">
    <h1>
        CBO Advisory Committee
    </h1>
    
        The preparation of the CBO will be guided by an Advisory Committee. The Stockholm Resilience Centre and the Secretariat of CBD have invited scientists and experts from various groups and organizations, based on their unique experience on issues related to biodiversity, urbanization, ecosystem services and/or environmental policy.<br /><br />
    
    <p>
        The role of the committee is to contribute to the production plan and content development of CBO, reviewing the annotated outlines in order to ensure scientific and technical aspects of the texts, as well as the global scope of the assessment.
    </p>
    <h3>
        Members
    </h3>
    <div>
        <ul>
            <li>
                <b>BRAULIO FERREIRA DE SOUZA DIAS</b>&nbsp;- Executive Secretary, CBD
            </li>
            <li>
                <b>BÄRBEL DIECKMANN</b>&nbsp;- President of the Honorary Supervisory Board, Welthungerhilfe
            </li>
            <li>
                <b>CARLOS ALBERTO RICHA</b>&nbsp;- Governor of the State of Paraná, Brazil
            </li>
            <li>
                <b>HARIPRIYA GUNDIMEDA</b>&nbsp;- Professor, Indian Institute of Technology Bombay
            </li>
            <li>
                <b>JEAN-PIERRE REVÉRET</b>&nbsp;- Professor, UQAM
            </li>
            <li>
                <b>KAZUHIKO TAKEUCHI</b>&nbsp;- Vice Rector, UNU-ISP
            </li>
            <li>
                <b>LENA CHAN</b>&nbsp;- Deputy Director, Singapore National Parks Board
            </li>
            <li>
                <b>NORBERT MÜLLER</b>&nbsp;- Professor, University of Applied Sciences Erfurt, and President, URBIO
            </li>
            <li>
                <b>ROBERT MCINNES</b>&nbsp;- Ramsar STRP
            </li>
            <li>
                <b>STEPHEN GRANGER</b>&nbsp;- Manager of Environmental Resources, City of Cape Town, South Africa
            </li>
            <li>
                <b>TED TRZYNA</b>&nbsp;- President, InterEnvironment Institute
            </li>
            <li>
                <b>THOMAS ELMQVIST</b>&nbsp;- Theme leader, Stockholm Resilience Centre
            </li>
        </ul>
    </div>    
  </div>
  <div class="col-md-3"> 
    <div class="cboMenu"></div>
  </div>

</div>
