<div class="row hidden-xs">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="/subnational">Home</a></li>
            <li><a href="/subnational/partners-and-initiatives">Partners & Initiatives</a></li>
            <li><a href="/subnational/partners-and-initiatives/cbo">CBO</a></li>
            <li class="active">CBO - Scientific Analysis and Assessment</li>
        </ol>
    </div>
</div>  
<div class="row" ng-controller="PartnersAndInitiativesPageController">
  <div class="col-md-9">
    <h1>
        CBO - Scientific Analysis and Assessment
    </h1>
    The <em>Global Urbanization, Biodiversity, and Ecosystems &ndash; Challenges and Opportunities</em> is a more detailed scientific analysis and assessment of the links between urbanization, biodiversity and ecosystem services that is scheduled to be published as book in 2013. It provides extended, in-depth coverage of regional and local case study assessments.<br />
    <br />
    The draft core chapters of this volume are now available online.<br />
    <h2>
        <a href="http://www.springer.com/life+sciences/ecology/book/978-94-007-7087-4">Global Urbanization, Biodiversity and Ecosystem Services &ndash; Challenges and Opportunities</a>
    </h2>
    <h4>
        Chapter Outlines
    </h4>
    <ul>
        <li>
            Chapter 1 &ndash; A global outlook on urbanization, challenges, and opportunities
        </li>
        <li>
            Chapter 2 &ndash; Urbanization and trends in biodiversity, ecosystems, and ecosystem functions</a>
        </li>
        <li>
            Chapter 3 &ndash; Patterns and trends in urban biodiversity and design</a>
        </li>
        <li>
            Chapter 4 &ndash; Urban ecosystem services</a>
        </li>
        <li>
            Chapter 5 &ndash; Shrinking Cities and impacts on ecosystem services and biodiversity
        </li>
        <li>
            Chapter 6 &ndash; Urban ecological restoration
        </li>
        <li>
            Chapter 7 &ndash; Typologies of urbanization, effects on land use, biodiversity, and ecosystem services</a>
        </li>
        <li>
            Chapter 8 &ndash; Urbanization, climate change, and urban biodiversity</a>
        </li>
        <li>
            Chapter 9 &ndash; Food and water in an urbanizing world
        </li>
        <li>
            Chapter 10 &ndash; Urban governance for biodiversity and ecosystem services</a>
        </li>
        <li>
            Chapter 11 &ndash; Urban landscapes as learning arenas for sustainable management of biodiversity and ecosystem services
        </li>
        <li>
            Chapter 12 &ndash; Indicators: scientific evaluation of City Biodiversity Index
        </li>
        <li>
            Chapter 13 &ndash; Summary and synthesis
        </li>
    </ul>
    <p>
        Regional and local assessments of urbanization, biodiversity, and ecosystems
    </p>
    <br />
    <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td style="width: 200px; vertical-align: top; ">
                    <div style="margin-left: 40px; ">
                        <strong>Regional</strong><br />
                        &nbsp;<br />
                        Africa<br />
                        China<br />
                        <a href="cbo-scientific-analysis-and-assessment/CBO-SAA_Indian_Report.pdf">India</a><br />
                        South America
                    </div>
                </td>
                <td style="width: 200px; vertical-align: top; ">
                    <strong>Local</strong><br />
                    &nbsp;<br />
                    <a href="cbo-scientific-analysis-and-assessment/CBO-SAA_Indian_Report.pdf">Bangalore</a><br />
                    Cape Town<br />
                    Chicago<br />
                    Istanbul<br />
                    New York<br />
                    Rio de Janeiro<br />
                    Satoyama and Satoumi landscapes<br />
                    Shanghai<br />
                    Stockholm
                </td>
                <td style="width:200px;">
                    <a href="cbo-scientific-analysis-and-assessment/CBO-SAA_Indian_Report.pdf"><img alt="" src="/subnational/app/img/cbd-cbo-indian-report-cover.jpg" style="width: 150px; height: 213px; float: right; " /></a>
                </td>
            </tr>
        </tbody>
    </table>    
  </div>
  <div class="col-md-3"> 
    <div class="cboMenu"></div>
  </div>
</div>
