 <div class="panel panel-default">
    <div class="panel-heading title1">
        <h3 class="panel-title">Cities and Biodiversity Outlook</h3>
    </div>
    <div class="panel-body">
        <ul>
          <li><a href="/subnational/partners-and-initiatives/cbo/overview" >Overview</a>
            <ul>
              <li><a href="/subnational/partners-and-initiatives/cbo/overview/strategy" >Strategy</a></li>
              <li><a href="/subnational/partners-and-initiatives/cbo/overview/advisory-committee" >Advisory Committee</a></li>
              <li><a href="/subnational/partners-and-initiatives/cbo/overview/inter-agency-task-force" >Inter-Agency Task-Force</a></li>
              <li><a href="/subnational/partners-and-initiatives/cbo/overview/timeline-and-consulation-plan" >Timeline and Consulation Plan</a></li>
            </ul>
          </li>
          <li><a href="/subnational/partners-and-initiatives/cbo/related-activities" >CBO Launch Activities</a></li>
          <li><a href="/subnational/partners-and-initiatives/cbo/cbo-action-and-policy-executive-summary" >CBO - Action and Policy</a>
            <ul>
              <li><a href="/subnational/partners-and-initiatives/cbo/cbo-action-and-policy-executive-summary/preface-and-overview" >Preface and Overview</a></li>
              <li><a href="/subnational/partners-and-initiatives/cbo/cbo-action-and-policy-executive-summary/challenges-and-opportunities" >Challenges and Opportunities</a></li>
              <li><a href="/subnational/partners-and-initiatives/cbo/cbo-action-and-policy-executive-summary/key-messages" >Key Messages</a></li>
            </ul>
          </li>
          <li><a href="/subnational/partners-and-initiatives/cbo/cbo-scientific-analysis-and-assessment" >CBO - Scientific Analysis and Assessment</a></li>
          <li><a href="/subnational/partners-and-initiatives/cbo/resources" >Resources</a></li>
        </ul>
    </div>
</div>