<div class="row hidden-xs">
    <div class="col-lg-12">    
        <ol class="breadcrumb">
            <li><a href="/subnational">Home</a></li>
            <li><a href="/subnational/partners-and-initiatives">Partners & Initiatives</a></li>
            <li><a href="/subnational/partners-and-initiatives/cbo">CBO</a></li>
            <li class="active">Action & Policy</li>
        </ol>
    </div>
</div>  
<div class="row" ng-controller="PartnersAndInitiativesPageController">
  <div class="col-md-9">
    <h1>
      CBO &ndash; Action and Policy
    </h1>
    
        CBO &ndash; Action and Policy provides the summary of a global assessment of the links between urbanization, biodiversity, and ecosystem services. Drawing on contributions from more than 120 scientists and policy-makers from around the world, it summarizes how urbanization affects biodiversity and ecosystem services and presents 10 key messages for strengthening conservation and sustainable use of natural resources in an urban context.
    
    <h3>
        Download the CBO - Action and Policy
    </h3>
    <h4>
        Web Version (smaller)
    </h4>
    <ul>
        <li>
            <a href="http://www.cbd.int/authorities/doc/cbo-1/cbd-cbo1-book-f.pdf">CBO - Action and Policy - English - Web</a>
        </li>
    </ul>
    <h2>
        Download the CBO - Action and Policy - Executive Summary
    </h2>
    <h4>
        Web Version (smaller)
    </h4>
    <ul>
        <li>
            <a href="http://www.cbd.int/authorities/doc/cbo-1/cbd-cbo1-summary-en-f-web.pdf">CBO - Action and Policy - Executive Summary - English</a>
        </li>
        <li>
            <a href="http://www.cbd.int/authorities/doc/cbo-1/cbd-cbo1-summary-sp-f-web.pdf">CBO - Action and Policy - Executive Summary - Spanish</a>
        </li>
        <li>
            <a href="http://www.cbd.int/authorities/doc/cbo-1/cbd-cbo1-summary-fr-web.pdf">CBO - Action and Policy - Executive Summary - French</a>
        </li>
    </ul>
    <h3>
        Read the Executive Summary online
    </h3>
    <ul>
        <li>
            <a href="cbo-action-and-policy-executive-summary/preface-and-overview.html">Preface and Overview</a>
        </li>
        <li>
            <a href="cbo-action-and-policy-executive-summary/challenges-and-opportunities.html">Challenges and Opportunities</a>
        </li>
        <li>
            <a href="cbo-action-and-policy-executive-summary/key-messages.html">Key Messages</a>
        </li>
    </ul>
    <h3>
        100 Facts about Urban Nature
    </h3>
    <div style="margin-left: 40px;">
        <a href="http://www.cbd.int/authorities/doc/100FactsAboutUrbanNaturel.pdf"><img src="/subnational/app/img/urbannature.png" /></a>
    </div>
    
  </div>
  <div class="col-md-3"> 
    <div class="cboMenu"></div>
  </div>

</div>
