<div class="row hidden-xs">
    <div class="col-lg-12">    
        <ol class="breadcrumb">
            <li><a href="/subnational">Home</a></li>
            <li><a href="/subnational/partners-and-initiatives">Partners & Initiatives</a></li>
            <li><a href="/subnational/partners-and-initiatives/cbo">CBO</a></li>
            <li><a href="/subnational/partners-and-initiatives/cbo/cbo-action-and-policy-executive-summary">Action & Policy</a></li>
            <li class="active"> Challenges and Opportunities</li>
        </ol>
    </div>
</div>  
<div class="row" ng-controller="PartnersAndInitiativesPageController">
  <div class="col-md-9">
    <h1>
        Summary of Global Urbanization, Biodiversity, and Ecosystem Services &mdash; Challenges and Opportunities
    </h1>
    <h2>
        Urban Expansion
    </h2>
    <p>
        The world is increasingly urban, interconnected, and changing. If current trends continue, by 2050 the global urban population is estimated to be 6.3 billion, nearly doubling the 3.5 billion urban dwellers worldwide in 2010 (see Figure 1). More than 60 percent of the area projected to be urban in 2030 has yet to be built. Most of this growth is expected to happen in small and medium-sized cities, not in megacities.
    </p>
    <p>
        Five major trends in the urbanization process have implications for biodiversity and ecosystem services:
    </p>
    <ul>
        <li>
            The total urban area is expected to triple between 2000 and 2030, while urban populations are expected to nearly double, increasing from 2.84 to 4.9 billion, during this period. In other words, urban areas are expanding faster than urban populations.
        </li>
        <li>
            This urban expansion will heavily draw on natural resources, including water, on a global scale, and will often consume prime agricultural land, with knock-on effects on biodiversity and ecosystem services elsewhere.
        </li>
        <li>
            Most future urban expansion will occur in areas of low economic and human capacity, which will constrain the protection of biodiversity and management of ecosystem services.
        </li>
        <li>
            Urban expansion is occurring fast in areas adjacent to biodiversity hotspot areas and faster in low-elevation, biodiversity-rich coastal zones than in other areas.
        </li>
        <li>
            Urbanization rates are highest in those regions of the world where the capacity to inform policy is absent and where there are generally underresourced and poorly capacitated urban governance arrangements.
        </li>
    </ul>
    <h2>
        Regional Analyses of Urbanization and Its Impacts on Biodiversity
    </h2>
    <p>
        The rate and ways in which the planet is urbanizing vary both across and within regions and countries.
    </p>
    <h2>
        Africa
    </h2>
    <p>
        Although there is large spatial variation in rates of change across the 55 nations of Africa, the combined impact of high natural population growth and ruralto- urban migration means that Africa is urbanizing faster than any other continent. Overall the urban population is expected to more than double from 300 million in 2000 to 750 million in 2030. Population expansion and a tradition of low-density settlement mean that the rate of increase in urban land cover is predicted to be the highest in any region in the world: 700 percent over the period 2000&ndash;2030. Expansion is expected to be focused in five main areas: the Nile River, the Guinean coast, the northern shores of Lakes Victoria and Tanganyika, the Kano region in northern Nigeria, and greater Addis Ababa, Ethiopia. All except the latter are very sensitive ecological zones.
    </p>
    <h2>
        Asia
    </h2>
    <p>
        Asia is home to 60 percent of the world&rsquo;s population, and there are large variations in the region with regard to urbanization levels and urban growth rates. While some countries have populations that are predominantly urban (Singapore, 100 percent; Malaysia, 72 percent; Japan, 67 percent; Indonesia, 54 percent), others have populations that are predominantly rural (Bangladesh, 28 percent; Vietnam, 29 percent; India, 30 percent Lao People&rsquo;s Democratic Republic, 33 percent; Thailand, 34 percent).
    </p>
    <h3>
        India
    </h3>
    <p>
        India&rsquo;s population is currently about 30 percent urban and is expected to become 50 percent urban by about 2044. This will have significant implications for the country&rsquo;s environment, ecology, and sustainability. India already contains 3 of the world&rsquo;s 10 largest cities&mdash;Delhi, Mumbai, and Kolkata&mdash;as well as 3 of the world&rsquo;s 10 fastest growing cities&mdash;Ghaziabad, Surat, and Faridabad.
    </p>
    <h3>
        China
    </h3>
    <p>
        China, with around 50 percent of its population now living in cities, is in the middle of its urbanization transition. Compared with the last three decades, the urbanization rate in the coming three decades will be slower, with urban expansion moving from the coastal areas to the interior. By 2030 China&rsquo;s urban population is expected to exceed 900 million, an increase of more than 300 million from today.
    </p>
    <p>
        Figure 1. Global urbanization and biodiversity hotspots, 1950&ndash;2025.
    </p>
    <h2>
        Latin America and the Caribbean
    </h2>
    <p>
        More than 80 percent of the population in Latin America lives in cities, and by 2050 it is expected to reach 90 percent, thus making it the most urbanized of all world regions. The region includes megalopolises such as Mexico City, São Paulo, and Buenos Aires, whose populations exhibit significant social and economic differences. The number of cities in the region has grown sixfold in the past 50 years (although growth rates have been slowing), while rural areas are being abandoned. Today, the deforestation &ldquo;frontier&rdquo; is advancing, along with cities founded less than 20 years ago, into the Amazon basin from the Southeast in Brazil, and along major roads and rivers.
    </p>
    <p>
        In the Caribbean, urbanization is somewhat smaller (around 65 percent), with significant sub-regional differences (from 21 to 90 percent). Historically, urban areas in the Caribbean have been predominantly characterized by capital port cities, many of which were founded during the sixteenth and seventeenth centuries. However, it is only since the Second World War that this region has experienced rapid rates of urban growth. The biggest capital cities (such as Havana, Santo Domingo and Port-au-Prince) are still below 3 million, but urbanization growth rates overall are steeper than in the rest of Latin America (with Haiti and Trinidad and Tobago exhibiting the highest annual urbanization rates). Capital cities often house a significant part of the entire population.
    </p>
    <h2>
        Europe and North America
    </h2>
    <p>
        Europe and North America share a similar urban development pattern. In Europe, the current urbanization level is 70&ndash;80 percent, and urban growth in recent decades has been mostly in the form of urban land expansion rather than population growth. Indeed, in some areas in Eastern Europe many cities are shrinking in population, creating new opportunities for innovative use of former residential and industrial areas. Cities in the USA and Canada share a complex pattern of shrinking and/or shifting patterns of population in central parts of the cities coupled with sprawl in outer suburbs and exurban areas. This pattern creates unique challenges for biodiversity conservation.
    </p>
    <h2>
        Oceania
    </h2>
    <p>
        Oceania is defined by the United Nations as the islands within Polynesia, Micronesia and Melanesia, and Australia and New Zealand. Urbanization came late to islands in the Pacific Ocean, typically following independence, but has increased rapidly since the 1970s. Excluding the population of Papua New Guinea, more than half of all Pacific Islanders now live in urban areas. In some atoll states, urban growth has produced very high population densities, comparable to those in densely populated Asian cities. On the other hand, both Australia and New Zealand have highly urbanized populations where 85 percent of their populations live in urban areas, but at relatively low densities. Australia is one of the world&rsquo;s least densely populated countries, with fewer than three people per square kilometer.
    </p>
    <img alt="" src="/subnational/app/img/cbo-figure1.jpg" />    
  </div>
  <div class="col-md-3"> 
    <div class="cboMenu"></div>
  </div>

</div>
