<script src="/app/views/resources/resources.html.js"></script>
<div class="row">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/resources">Resources</a></li>
      <li class="active">Case Studies</li>
    </ol>
</div>
<div class="row" ng-controller="ResourcesPageController">
	<div class="col-sm-12">
        <h2>
            Case studies on the implementation of the CBD and the 2010 biodiversity target
        </h2>
        <p>
            This subsection provides case studies on the experiences of local authorities with regard to the implementation of the CBD and the 2010 biodiversity target, with a specific focus on one of the five themes listed below.<br />
            <br />
            <iframe frameborder="0" height="550" marginheight="0" marginwidth="0" scrolling="no" src="https://maps.google.com/maps/ms?msa=0&amp;msid=212674537859811565118.0004ce7ac299249365458&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;ll=22.917923,2.8125&amp;spn=119.532408,316.054688&amp;z=2&amp;output=embed" width="900"></iframe><br />
            &nbsp;
        </p>
        <b>To submit your case study</b> please fill out this <a href="http://www.cbd.int/doc/forms/frm-cities-en.doc">form</a> and return it duly completed to the attention of Mr. Oliver Hillel (secretariat@cbd.int)
        <h2>
            Theme 1: Integrating biodiversity into city planning
        </h2>
        <p>
            Urban Biodiversity Action Plans and Strategies based on Local Agenda 21 processes; application of the ecosystem approach to urban environments; climate change, biodiversity and cities: adaptation measures, microclimates and biodiversity; urban design, architecture and land-use planning considering biodiversity; etc.
        </p>
        <ul>
            <li>
                <b>City of <a href="http://www.cbd.int/authorities/casestudies/bonn.shtml">Bonn</a>, Germany</b>
            </li>
            <li>
                <b>City of <a href="http://www.cbd.int/authorities/casestudy/saopaulo.shtml">São Paulo</a>, Brazil</b>
            </li>
            <li>
                <b>City of <a href="http://www.cbd.int/authorities/casestudy/curitiba.shtml">Curitiba,</a> Brazil</b>
            </li>
            <li>
                <b>City of <a href="http://www.cbd.int/authorities/doc/Toyooka-2010-03-Strategy-en.pdf">Toyooka,</a> Japan</b>
            </li>
        </ul>
        <h2>
            Theme 2: Promoting biodiversity-friendly city development
        </h2>
        <p>
            Urban development and building, housing and construction/development; biodiversity-friendly public infrastructure and utilities as well as transportation; policy tools, legislation and regulations, operational licensing/permit guidelines, emission and pollution standards and norms, incentives for biodiversity-friendly developments; payment for ecosystem services of green urban areas; etc.
        </p>
        <ul>
            <li>
                <b>City of <a href="http://www.cbd.int/authorities/casestudies/bonn.shtml">Bonn</a>, Germany</b>
            </li>
        </ul>
        <h2>
            Theme 3: Managing biodiversity
        </h2>
        <p>
            Managing protected areas/urban parks and use conflicts, research centers, conservation corridors in green belts around cities through systems such as biosphere reserves; conservation of urban riparian, aquatic and wetland ecosystems, watershed basins; promoting and supporting biodiversity facilities such as botanical gardens, zoos, aquaria, theme parks, museums; management of invasive alien species in urban environments; information and monitoring systems on urban biodiversity; etc.
        </p>
        <ul>
            <li>
                <b>City of <a href="http://www.cbd.int/authorities/casestudies/Montreal.shtml">Montreal</a>, Canada</b>
            </li>
            <li>
                <b>City of <a href="http://www.cbd.int/doc/groups/cities/montpellier-fr.pdf">Montpellier</a>, France</b>
            </li>
            <li>
                <b>City of Singapore, Singapore</b>
            </li>
            <li>
                <b>City of <a href="http://www.cbd.int/authorities/casestudies/nagoya.shtml">Nagoya</a>, Japan</b>
            </li>
            <li>
                <b>City of <a href="http://www.cbd.int/authorities/doc/Toyooka-2010-03-mayor-en.pdf">Toyooka</a>, Japan</b>
            </li>
            <li>
                <b>City of <a href="http://www.cbd.int/authorities/doc/Kanazawa-casestudy.pdf">Kanazawa</a>, Japan (also available in <a href="http://www.cbd.int/authorities/doc/Kanazawa-casestudy.doc"><u>word</u></a> format)</b>
            </li>
            <li>
                <b>Cities and Biodiversity <a href="http://www.iclei.org/index.php?id=11789">Case Study Series</a>, Canada</b> The Canadian <a href="http://www.iclei.org/fileadmin/user_upload/documents/Canada/Biodiversity/Cities_and_Biodiversity_Case_Study_Series_english_reduced.pdf">Cities and Biodiversity Case Study Series</a> serves as a collection of municipal best practices in urban biodiversity management and protection. Eleven case studies have been selected from across the country, ranging from the small municipalities to Canada&rsquo;s largest metropolitan areas. Each case highlights a unique ecosystem and the initiatives that are being taken to sustainably manage and protect its biodiversity.
            </li>
        </ul>
        <h2>
            Theme 4: Ensuring that business practices enhance biodiversity
        </h2>
        <p>
            Work with private sector, trade associations, and business and investment promotion agencies to enhance market benefits of biodiversity to business in urban areas through corporate social responsibility, benchmark programs and incentives; provide technical assistance and support to private developers, building and construction companies, and design/architecture firms and professional associations for biodiversity-friendly design and developments; etc.
        </p>
        <ul>
            <li>
                <b>City of <a href="http://www.cbd.int/doc/groups/cities/cities-saopaolo-forest-en.doc">São Paulo - on Forest Conservation</a>, Brazil</b>
            </li>
            <li>
                <b>City of <a href="http://www.cbd.int/authorities/casestudies/nagoya.shtml">Nagoya</a>, Japan</b>
            </li>
            <li>
                <b>City of <a href="http://www.cbd.int/authorities/doc/Toyooka-2010-03-mayor-en.pdf">Toyooka</a>, Japan</b>
            </li>
        </ul>
        <h2>
            Theme 5: Promoting awareness of biodiversity to local communities
        </h2>
        <p>
            Sustainable (and biodiversity-friendly) consumption guidelines, consumer education for life cycle analysis and biodiversity implications of consumption; encouraging social participation through urban beautification projects, tree planting and landscaping, community and home/roof gardens and green roofs; ensuring that public and private executives and decision makers take account of the contribution of biodiversity to quality of life, social justice and health; promoting environmental education through recreation and awareness campaigns; etc.
        </p>
        <ul class="cmsListBullet">
            <li>
                <b>City of <a href="http://www.cbd.int/authorities/casestudies/bonn.shtml">Bonn</a>, Germany</b>
            </li>
            <li>
                <b>City of <a href="http://www.cbd.int/authorities/doc/Kanazawa-casestudy.pdf">Kanazawa</a>, Japan (also available in <a href="http://www.cbd.int/authorities/doc/Kanazawa-casestudy.doc">word</a> format)</b>
            </li>
        </ul>
    </div>
</div>