<script src="/app/views/resources/resources.html.js"></script>

<div class="row">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Resources</li>
    </ol>
</div>
<div class="row" ng-controller="ResourcesPageController">
	<h2>Resources</h2>
    <div class="col-sm-6">
    	<p class="well"><a href="/resources/decisions">Decisions</a></p>
    	<p class="well"><a href="/resources/documents">Documents</a></p>
    	<p class="well"><a href="/resources/presentations">Presentations</a></p>
	</div>
    <div class="col-sm-6">
    	<p class="well"><a href="/resources/strategies-and-action-plans">Strategies and Action Plans</a></p>
    	<p class="well"><a href="/resources/case-studies">Case Studies</a></p>
    	<p class="well"><a href="/resources/additional-information">Additional Information</a></p>
    </div>
</div>
