<script src="/app/views/resources/resources.html.js"></script>
<div class="row">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/resources">Resources</a></li>
      <li><a href="/resources/strategies-and-action-plans">Strategies and Action Plans</a></li>
      <li class="active">Strategies and Action Plans</li>
    </ol>
</div>
<div class="row">
	<div class="col-sm-9">
		<h2>
		    CBD Capacity Building Module B-8
		</h2>
		<h3>
		    Biodiversity Planning for States, Provinces, Cities and Other Local Authorities: How to Develop a Subnational Biodiversity Strategy and Action Plan
		</h3>
		<p>
		    <a href="http://www.cbd.int/doc/training/nbsap/b8-train-biodiversity-plan-subnational-en.pdf">Download the English module</a>
		</p>
		<p>
		    <a href="http://www.cbd.int/doc/training/nbsap/b8-train-biodiversity-plan-subnational-fr.pdf">Download the French module</a>
		</p>
		<p>
		    <a href="http://www.cbd.int/doc/training/nbsap/b8-train-biodiversity-plan-subnational-es.pdf">Download the Spanish module</a>
		</p>
	</div>
    <div class="col-sm-3">
        <div class="eventsLists"></div>
    </div>	
</div>	