<div class="row hidden-xs">
    <div class="col-lg-12">
		<ol class="breadcrumb">
		  <li><a href="/subnational">Home</a></li>
		  <li class="active">Get Involved</li>
		</ol>
	</div>
</div>	

<div class="row" ng-controller="GetInvolvePageController">
	<div class="col-sm-9">
		<h1>How to Get Involved</h1>
		<div>
			<p>If you would like to know more about cities & subnational governments and the Convention on Biological Diversity, or if you would like your city or subnational government to join the <a href='/subnational/partners-and-initiatives/cbo'>Global Partnership</a>, contact the Secretariat at <a href='mailto:secretariat@cbd.int'>secretariat@cbd.int</a>, with the subject line “cities & subnational governments”. Interested national governments, institutions and organizations are also welcome to join.</p>
			<p>
				We are also looking for examples of the work of cities & subnational governments as models for others to use to inspire their own. If you are willing to share your experiences in implementation, or your biodiversity report or strategy and action plan or other tools, there are an increasing number of other cities & subnational governments around the world who could benefit from being able to access them.</p>
			<p>
				Lastly, we welcome your contributions on what your city or subnational government has planned for the <a href='http://www.cbd.int/idb/' target='_self'>International Day for Biodiversity</a> on 22nd May. This year the theme is Biodiversity for Sustainable Development. We would like to profile innovative contributions on the CBD website to inspire others.</p>
		</div>		 
	</div>
	<div class="col-xs-3">
		<div class="eventsLists"></div>
	</div>
</div>
