<script src="/app/views/index.html.js"></script>
<div ng-controller="IndexController">
	<ol class="breadcrumb">
	  <li class="active">Home</li>
	</ol>
	<div class="row">
		<div class="col-md-9">
			<div class="panel-group" id="accordion">
			  <div class="panel panel-default">
			     <div class="panel-heading">
			        <h3 class="panel-title">
			           <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Why Are Subnational and Local Authorities Important?</a>
			        </h3>
			     </div>
			     <div id="collapseOne" class="panel-collapse collapse in">
			        <div class="panel-body">
			           <p>Subnational and local authorities are administrative units of an area smaller than a state. These governments are considered guardians of natural resources because they set local environment and development policy, are responsible for land-use planning, and develop and manage infrastructure that depend on and/or impact biodiversity, such as water and waste management systems. <a href="/about">More....</a></p>
			        </div>
			     </div>
			  </div>
			  <div class="panel panel-default">
			     <div class="panel-heading">
			        <h3 class="panel-title">
			           <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Get Involved</a>
			        </h3>
			     </div>
			     <div id="collapseTwo" class="panel-collapse collapse">
			        <div class="panel-body">
			           <p>Local authorities represent the level of government closest to people thus their involvement in the implementation of the Convention and its 2010 target is of crucial importance. As land-use planners, policy-makers, and developers and managers of local infrastructure, they have a critical role to play in promoting sustainable development and its biodiversity components. As community leaders, they have a responsibility to raise public awareness about the importance of biodiversity. In addition, actions at the local level can have direct results that can convince others of the need to get involved, while sending a message to higher levels of governments.  <a href="/get-involve">More....</a></p>
			        </div>
			     </div>
			  </div>
			  <div class="panel panel-default">
			     <div class="panel-heading">
			        <h3 class="panel-title">
			           <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Local Biodiversity Strategy and Action Plan Guidelines</a>
			        </h3>
			     </div>
			     <div id="collapseThree" class="panel-collapse collapse">
			        <div class="panel-body">
			           <p>The <em>Local Biodiversity Strategy and Action Plan Guidelines: an aid to municipal planning and biodiversity conservation</em> are intended to assist local governments in making a start with, or improvements to, their biodiversity planning processes. <a href="/guidelines">More....</a></p>
			        </div>
			     </div>
			  </div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h2>Find Resources</h2>
					<div class="col-md-8">
						<h3>Global Launch of the Cities and Biodiversity Outlook</h3>
						<a href="/en/subnational/partners-and-initiatives/cbo/cbo-action-and-policy-executive-summary"><img alt="" src="/app/img/cbo-cover.jpg" style="margin: 0px 5px; width: 100px; height: 129px; float: left;"> </a> <a href="/partners-and-initiatives/cbo/cbo-action-and-policy-executive-summary">Click here to learn more about the launch and read or download the CBO</a><br>
					 	<br>
					  	CBO - Action and Policy<br>
					  	CBO - Scientific Analysis and Assessment
					</div>
					<div class="col-md-4">
						<h3>Quick Links:</h3>
						<ul class="list-unstyled">
							<li><a href="/resources/decisions">Decisions</a></li>
							<li><a href="/events">Events</a></li>
							<li>E-Discussions</li>
							<li><a href="/partners-and-initiatives">Partners and Initiatives</a></li>
							<li><a href="/resources/documents">Documents</a></li>
							<li><a href="/resources/case-studies">Case Studies</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row hidden-xs">
				<div class="col-lg-12">
					<h2>This platform is kindly supported by:</h2>
			   		<div class="col-sm-6">
			      		<img src="/app/img/jbf.png" alt="" title="">
			  		</div>
			   		<div class="col-sm-6">
				      <img src="/app/img/logoiris.png" alt="" title="">
				   </div>
				</div>
			</div>		
		</div>
		<div class="col-md-3">
 			<div class="eventsLists"></div>
			<div class="panel panel-default">
		  		<div class="panel-heading title1">
					<h3 class="panel-title">ICLEI</h3>
				</div>
			  	<div class="panel-body">
					<a href="http://www.cbd.int/en/subnational/partners-and-initiatives/iclei"><img src="/app/img/iclei.png" title="ICLEI" alt="ICLEI" class="img-responsive" style="margin: 0 auto;"></a>
					<p>ICLEI – Local Governments for Sustainability is an international association of local and metropolitan governments dedicated to sustainable development.</p>
					<button type="button" class="btn btn-success right"><a href="http://www.cbd.int/en/subnational/partners-and-initiatives/iclei">learn more</a></button>
			  	</div>
			</div>

			<div class="panel panel-default">
		  		<div class="panel-heading title1">
					<h3 class="panel-title">TEEB</h3>
				</div>
			  	<div class="panel-body">
					<a href="http://www.teebweb.org" target="_blank"><img src="/app/img/teeb_logo.jpg" title="TEEB" alt="TEEB" class="img-responsive" style="margin: 0 auto;"></a>
					<p>The Economics of Ecosystems and Biodiversity (TEEB) is a study that has compiled a compelling economics case for the conservation of ecosystems and biodiversity</p>
					<button type="button" class="btn btn-success right"><a href="http://www.teebweb.org" target="_blank">learn more</a></button>
			  	</div>
			</div>				
		</div>	
	</div>
	<div class="row">
		<div class="col-sm-6">
			<h4 class="well">Case Studies</h4>
	    	<img alt="Curitiba" src="/app/img/featured-2.jpg" title="Curitiba"> 
	        <h4><a href="http://www.cbd.int/en/subnational/resources/case-studies">City of Curitiba, Brazil</a></h4><span>Case Study</span>
	        <p>The groundbreaking US$ 175 million “BioCity” program, launched by the City of Curitiba, constitutes a concrete example of urban planning that
	        takes into consideration biodiversity-related issues.</p>
	        <div class="row right">
	        	<button type="button" class="btn btn-success"><a href="/resources/case-studies">view more case studies</a></button>
	        	<button type="button" class="btn btn-success"><a href="http://www.iclei.org/index.php?id=12286" target="_blank">view ICLEI case studies</a></button>
	    	</div>
		</div>
		<div class="col-sm-6">
			<h4 class="well">Featured Resource</h4>
			<a href="http://www.cbd.int/en/subnational/guidelines"><img alt="" src="/app/img/lbsap-guidelines.jpg" style=
	        "width: 100px; float: left; margin: 0px 5px;"></a>
	        <h4><a href="http://www.cbd.int/en/subnational/guidelines">Local Biodiversity Strategy and Action Plan Guidelines</a></h4>
	        <p>The Local Biodiversity Strategy and Action Plan Guidelines: an aid to municipal planning and biodiversity conservation are intended to assist local
	        governments in making a start with, or improvements to, their biodiversity planning processes.</p>
	        <div class="row right">
	        	<button type="button" class="btn btn-success"><a href="http://www.teebweb.org" target="_blank">view more resources</a></button>
	    	</div>
		</div>
	</div>
</div>